@use '../../../styles/variables' as variables;

.kui-theme--light {
  --select-dropdown-bg-hover: #{variables.$white-600};
  --select-dropdown-bg: #{variables.$grey-100};
}

.kui-theme--dark {
  --select-dropdown-bg-hover: #{variables.$slate-500};
  --select-dropdown-bg: #{variables.$slate-700};
}

.select-dropdown {
  // apply scroll
  section {
    height: 479px;
    overflow: hidden;
  }

  .dropdown__label {
    background: var(--select-dropdown-bg);
  }

  // overide the fix height and width option from the Dropdown component
  .dropdown__options {
    box-shadow: none;
    max-height: 479px;
    right: 0;
    width: 284px;
  }
}

.select-dropdown__title {
  font-size: 16px;
  font-weight: 600;
  margin: 28px 28px 32px 24px;
  opacity: 0.55;
}

.select-dropdown__checkbox {
  align-items: center;
  cursor: pointer;
  display: flex;
  height: 32px;
  justify-content: space-between;
  padding: 0 24px;
  position: relative;

  .select-dropdown__checkbox-text {
    font-size: 14px;
    line-height: 20px;
    max-width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.select-dropdown__checkbox:hover {
  background: var(--select-dropdown-bg-hover);
}

input[type='checkbox'] {
  appearance: none;
  border: 2px solid #737373;
  cursor: pointer;
  height: 8px;
  width: 8px;
}

input[type='checkbox']:checked {
  background: variables.$blue-300;
  border-color: variables.$blue-300;
}
