<settings>
  <profiles>
        <profile>
            <id>imagej</id>
            <properties>
                <imagej.app.directory>${env.PREFIX}/opt/scijava-jupyter-kernel</imagej.app.directory>
                <delete.other.versions>true</delete.other.versions>
                <enforcer.skip>true</enforcer.skip>
            </properties>
        </profile>
    </profiles>
</settings>
