@use '../../../styles/variables' as variables;

.pipeline-run-export-modal--experiment-tracking .modal__title {
  text-align: left;
  margin-left: 30px;
}

.run-export-modal-button-wrapper {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

// set fix width for export button for when the text is shorter, eg "Done"
.pipeline-run-export-modal--experiment-tracking .button__btn--primary {
  margin: 0;

  // to remove focus styling on the button as the style is directly from the CSVLink button
  &:focus {
    outline: none;
    box-shadow: none;
  }
}

.run-export-modal-export-button:focus {
  box-shadow: 0 0 0 7px variables.$blue-300;
  outline: none;
}

.run-export-modal-export-button--success:focus-visible {
  outline: none;
}
