# Python variants not present in conda-forge feedstock recipe.
# Conda-forge feedstock Python variants are provided by conda-forge Azure pipelines infrastructure.
python:
  - 3.10
  - 3.11
  - 3.12
  - 3.13
  - 3.14
