.pipeline-plotly-chart {
  display: flex;

  .js-plotly-plot {
    align-items: center;
    display: flex;
  }
}

.pipeline-plotly__oneChart {
  height: calc(92% - 80px);
  margin: 0 0 24px;
  width: 100%;
}

.pipeline-plotly__twoCharts,
.pipeline-plotly__threeCharts {
  display: flex;
  height: 100%;
  margin: 0 0 24px;
  width: 100%;
}
