@use '../../styles/variables' as colors;

$polygon-length: 500;
$section-length: calc($polygon-length / 8);
$start-point: calc($polygon-length / 2);
$spin1-offset-start: $start-point;
$spin1-offset-end: $start-point - $polygon-length;
$spin2-offset-start: $start-point - $section-length;
$spin2-offset-end: $start-point - $polygon-length - $section-length;
$path1-length: $section-length;
$path1-gap: $polygon-length - $section-length;
$path2-length: $polygon-length - $section-length;
$path2-gap: $section-length;

.pipeline-loading-icon {
  display: block;
  width: 40px;
  height: 40px;
  opacity: 0;
  pointer-events: none;

  &--visible {
    opacity: 1;
    transition-delay: 0.5s;
  }

  path {
    fill: none;
    stroke-width: 8px;
  }

  path:nth-of-type(1) {
    animation: stroke-spin1 2s infinite linear;
    stroke: colors.$white-0;
    stroke-dasharray: $path1-length, $path1-gap;
  }

  path:nth-of-type(2) {
    animation: stroke-spin2 2s infinite linear;
    stroke-dasharray: $path2-length, $path2-gap;
    stroke: colors.$yellow-300;
  }
}

@keyframes stroke-spin1 {
  from {
    stroke-dashoffset: $spin1-offset-start;
  }

  to {
    stroke-dashoffset: $spin1-offset-end;
  }
}

@keyframes stroke-spin2 {
  from {
    stroke-dashoffset: $spin2-offset-start;
  }

  to {
    stroke-dashoffset: $spin2-offset-end;
  }
}
