[Unit]
Description=Process Monitoring and Control Daemon
After=rc-local.service

[Service]
Type=forking
ExecStartPre=-/usr/bin/mkdir /var/run/supervisord
ExecStart=/usr/local/bin/supervisord -c /etc/supervisord/supervisord.conf
PIDFile=/var/run/supervisord/supervisord.pid
SysVStartPriority=99

[Install]
WantedBy=multi-user.target
