@use '../../styles/extends';

.pipeline-minimap-toolbar {
  @extend %listReset;

  margin-top: auto;
}

.pipeline-minimap-button {
  transition: background-color 300ms ease;
}

.pipeline-minimap-button.pipeline-icon-toolbar__button--active {
  svg {
    opacity: 1;
  }
}

.pipeline-minimap-button--map {
  padding-top: 4px;
}

.pipeline-minimap-toolbar__scale {
  color: var(--color-text);
  display: block;
  font-size: 12px;
  font-weight: bold;
  margin-top: 16px;
  padding: 6px 8px;
  text-align: center;
  width: 100%;
}
