# gtk-doc provides "gtkdocize" needed during the building process
gtk-doc
# autoconf provides "autoreconf" needed during the building process, but it
# also exists in the defaults channel of conda
# autoconf
