# macOS folder metadata
.DS_Store

# macOS specific files
MacOSX*.sdk.tar.xz
SDKs/

# User builds
build_artifacts
miniforge3/

# Compiled Python code
__pycache__
*.pyc
*.egg-info

# Editor files
*.swp
.idea
*.iml
.vscode

# Jupyter checkpoints
**/.ipynb_checkpoints/*

# pixi environments
.pixi
pixi.lock

# rattler-build outputs files
output/
