environment:

  # Version of MSYS2 to use.
  MSYS2_BASEVER: 20150916

  # SDK v7.0 MSVC Express 2008's SetEnv.cmd script will fail if the
  # /E:ON and /V:ON options are not enabled in the batch script interpreter
  # See: http://stackoverflow.com/a/13751649/163740
  CMD_IN_ENV: "cmd /E:ON /V:ON /C obvci_appveyor_python_build_env.cmd"

  # Workaround for https://github.com/conda/conda-build/issues/636
  PYTHONIOENCODING: "UTF-8"

  matrix:
    # Note: Because we have to separate the py2 and py3 components due to compiler version, we have a race condition for non-python packages.
    # Not sure how to resolve this, but maybe we should be tracking the VS version in the build string anyway?
    - TARGET_ARCH: "x86"
      CONDA_PY: "27"
      PY_CONDITION: "python >=2.7,<3"
      MSYS2_ARCH: i686
      MSYS2_BITS: 32
      MSYSTEM: MINGW32
    - TARGET_ARCH: "x86"
      CONDA_PY: "34"
      PY_CONDITION: "python >=3.4,<3.5"
      MSYS2_ARCH: i686
      MSYS2_BITS: 32
      MSYSTEM: MINGW32
    - TARGET_ARCH: "x86"
      CONDA_PY: "35"
      PY_CONDITION: "python >=3.5"
      MSYS2_ARCH: i686
      MSYS2_BITS: 32
      MSYSTEM: MINGW32
    - TARGET_ARCH: "x64"
      CONDA_PY: "27"
      PY_CONDITION: "python >=2.7,<3"
      MSYS2_ARCH: x86_64
      MSYS2_BITS: 64
      MSYSTEM: MINGW64
    - TARGET_ARCH: "x64"
      CONDA_PY: "34"
      PY_CONDITION: "python >=3.4,<3.5"
      MSYS2_ARCH: x86_64
      MSYS2_BITS: 64
      MSYSTEM: MINGW64
    - TARGET_ARCH: "x64"
      CONDA_PY: "35"
      PY_CONDITION: "python >=3.5"
      MSYS2_ARCH: x86_64
      MSYS2_BITS: 64
      MSYSTEM: MINGW64

artifacts:
    # Store built conda packages as artifacts
    - path: 'conda_packages\*.bz2'

# We always use a 64-bit machine, but can build x86 distributions
# with the TARGET_ARCH variable (which is used by CMD_IN_ENV).
platform:
    - x64

install:
    # We don't need to build the example recipe.
    - cmd: rmdir recipes\example /s /q
    # Skip if we are not in a PR.
    - cmd: if not defined APPVEYOR_PULL_REQUEST_NUMBER rmdir /q /s recipes
    # Make sure the `recipes` directory exists if we removed it.
    - cmd: if not exist recipes mkdir recipes

    # If there is a newer build queued for the same PR, cancel this one.
    # The AppVeyor 'rollout builds' option is supposed to serve the same
    # purpose but it is problematic because it tends to cancel builds pushed
    # directly to master instead of just PR builds (or the converse).
    # credits: JuliaLang developers.
    - ps: if ($env:APPVEYOR_PULL_REQUEST_NUMBER -and $env:APPVEYOR_BUILD_NUMBER -ne ((Invoke-RestMethod `
        https://ci.appveyor.com/api/projects/$env:APPVEYOR_ACCOUNT_NAME/$env:APPVEYOR_PROJECT_SLUG/history?recordsNumber=50).builds | `
        Where-Object pullRequestId -eq $env:APPVEYOR_PULL_REQUEST_NUMBER)[0].buildNumber) { `
          throw "There are newer queued builds for this pull request, failing early." }

    # Set the CONDA_NPY, although it has no impact on the actual build. We need this because of a test within conda-build.
    - cmd: set CONDA_NPY=19

    # Remove cygwin (and therefore the git that comes with it).
    - cmd: rmdir C:\cygwin /s /q

    # Install workaround 64-bit support for VS 2008.
    - cmd: if "%TARGET_ARCH%" == "x64" if "%CONDA_PY%" == "27" call .CI\vs2008\setup_x64.bat

    # Install pacman.
    - SET MSYS_PATH=%APPVEYOR_BUILD_FOLDER%\msys%MSYS2_BITS%
    - appveyor DownloadFile http://kent.dl.sourceforge.net/project/msys2/Base/%MSYS2_ARCH%/msys2-base-%MSYS2_ARCH%-%MSYS2_BASEVER%.tar.xz
    - 7z x msys2-base-%MSYS2_ARCH%-%MSYS2_BASEVER%.tar.xz > nul
    - 7z x msys2-base-%MSYS2_ARCH%-%MSYS2_BASEVER%.tar > nul
    - SET PATH=%MSYS_PATH%\usr\bin;%PATH%
    - SET PATH=%MSYS_PATH%\mingw%MSYS2_BITS%\bin;%PATH%
    - !!str bash -lc "pacman-key --init" > nul
    #- !!str bash -lc "pacman-key --populate msys2" > nul
    #- !!str bash -lc "pacman-key --refresh-keys" > nul
    #- pacman --noconfirm -Syu
    #- pacman --noconfirm -Syu

    # Install a Fortran compiler.
    - cmd: pacman --sync --noconfirm make
    - cmd: pacman --sync --noconfirm gcc-fortran

    # Use the pre-installed Miniconda for the desired arch
    - ps: if($env:TARGET_ARCH -eq 'x86')
            {$root = "C:\Miniconda"}
          else
            {$root = "C:\Miniconda-x64"}
          $env:path="$root;$root\Scripts;$root\Library\bin;$($env:path)"
    - cmd: conda update --yes --quiet conda
    - cmd: set PYTHONUNBUFFERED=1

    - cmd: conda config --set show_channel_urls yes
    - cmd: conda config --add channels conda-forge
    - cmd: conda install --yes --quiet obvious-ci conda-build-all
    - cmd: obvci_install_conda_build_tools.py
    - cmd: conda info

# Skip .NET project specific build phase.
build: off

test_script:
    - '%CMD_IN_ENV% conda-build-all recipes --matrix-conditions "numpy >=1.9" "%PY_CONDITION%"'
    # copy any newly created conda packages into the conda_packages dir
    - cmd: mkdir conda_packages
    # Uncomment the following two lines to make any conda packages created
    # available as build artifacts in AppVeyor
    #- cmd: 'copy /Y C:\Miniconda\conda-bld\win-32\*.bz2 conda_packages || cmd /c "exit /b 0"'
    #- cmd: 'copy /Y C:\Miniconda-x64\conda-bld\win-64\*.bz2 conda_packages || cmd /c "exit /b 0"'
