.pipeline-edge path {
  pointer-events: none;
  fill: none;
  stroke-width: 1.5px;
  stroke: var(--edge-stroke);
}

.pipeline-edge--parameters path {
  stroke: var(--parameter-accent);
}

.pipeline-edge--parameters-input path {
  stroke: var(--parameter-accent-input);
}

.pipeline-edge--dataset--input path {
  stroke-dasharray: 3px 3px;
}

.pipeline-edge--faded {
  opacity: 0.1;
}

.pipeline-flowchart__arrowhead {
  fill: var(--edge-arrowhead-fill);
}

.pipeline-flowchart__arrowhead--input {
  fill: var(--node-input-fill);
}

.pipeline-flowchart__arrowhead--accent {
  fill: var(--parameter-accent);
}

.pipeline-flowchart__arrowhead--accent--input {
  fill: var(--parameter-accent-input);
}
