@use '../../../styles/mixins' as mixins;
@use '../../../styles/variables' as variables;

.pipeline-layer {
  opacity: 0;
  transition: opacity ease 0.5s;
  fill: var(--layer-fill);

  &:hover {
    opacity: 1;
  }

  .pipeline-graph--export & {
    display: none;
  }

  @media print {
    display: none;
  }
}

@include mixins.transparentColour(
  '--layer-bg-transparent',
  variables.$white-800,
  variables.$slate-900
);

.pipeline-flowchart__layer-names {
  position: absolute;
  top: 0;
  left: 0;
  width: 130px;
  height: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  opacity: 0;
  transition: opacity ease 0.7s;
  pointer-events: none;

  &--visible {
    opacity: 1;
  }

  &--no-global-toolbar {
    left: -#{variables.$global-toolbar-width};
  }

  @media print {
    display: none;
  }
}

.pipeline-layer-name {
  align-items: center;
  color: var(--layer-text);
  display: flex;
  font-size: 1.6em;
  font-weight: bold;
  height: 20px;
  padding-left: 18px;
  position: absolute;
  top: -10px;
  transition: opacity ease 0.5s;
  white-space: nowrap;
}

.pipeline-layer-name--active {
  opacity: 1 !important;
}
