@use '../../../styles/variables' as colors;

.pipeline-node {
  cursor: pointer;

  text {
    font-weight: 600;
    font-size: 1.4em;
    pointer-events: none;
    fill: var(--node-labeltext-fill);
  }

  .pipeline-node__bg {
    stroke-width: 1px;
    fill: var(--node-fill-default);
    stroke: var(--node-stroke-default);
  }

  &:focus {
    outline: none;

    [data-whatinput='keyboard'] & .pipeline-node__bg {
      stroke: colors.$blue-300;
      stroke-width: 3.5px;
    }
  }
}

.pipeline-node--active {
  .pipeline-node__bg {
    fill: var(--node-fill-active);
    stroke: var(--node-stroke-active);
  }

  text,
  .pipeline-node__icon {
    fill: #{colors.$white-600};
  }
}

.pipeline-node--parameters {
  .pipeline-node__bg {
    stroke: var(--parameter-accent);
  }
}

.pipeline-node--dataset-input {
  text {
    fill: var(--node-input-fill);
  }

  .pipeline-node__bg {
    fill: transparent;
    stroke: var(--node-input-fill);
    stroke-dasharray: 3px 3px;
  }

  .pipeline-node__icon {
    fill: var(--node-input-fill);
  }
}

.pipeline-node-input--active {
  .pipeline-node__bg {
    fill: var(--node-input-fill-active);
  }

  .pipeline-node__icon,
  text {
    fill: var(--node-input-icon-selected);
  }
}

.pipeline-node-input--selected {
  .pipeline-node__icon,
  text {
    fill: var(--node-input-icon-selected);
  }
}

.pipeline-node--parameter-input {
  text {
    fill: var(--node-input-fill);
  }

  .pipeline-node__bg {
    fill: transparent;
    stroke: var(--parameter-accent-input);
    stroke-dasharray: 3px 3px;
  }

  .pipeline-node__icon {
    fill: var(--node-input-fill);
  }
}

.pipeline-node__parameter-indicator {
  opacity: 0;
  transition: opacity 0.3s ease;
  fill: var(--parameter-accent);

  &--visible {
    opacity: 1;
  }
}

.pipeline-node--selected {
  .pipeline-node__bg {
    stroke-width: 2px;
    fill: var(--node-fill-selected);
    stroke: var(--node-stroke-selected);
  }

  .pipeline-node__icon,
  .pipeline-node__text {
    fill: #{colors.$white-600};
  }
}

.pipeline-node--collapsed-hint {
  .pipeline-node__bg {
    stroke: var(--parameter-accent);
  }
}

.pipeline-node--faded {
  opacity: 0.3;
}

.pipeline-node__icon {
  transition: transform 0.3s ease;
  pointer-events: none;
  fill: var(--node-icon-fill);
}

.pipeline-node__text {
  transition: opacity 0.15s ease;
}
