@use '../../../styles/variables' as colors;

/**
 * Themed colour variables for the flowchart component
 */

.kui-theme--light {
  --node-icon-fill: #{colors.$black-800};
  --node-input-fill-active: #{colors.$white-600};
  --node-input-icon-selected: #{colors.$black-900};
  --node-fill-default: #{colors.$grey-100};
  --node-stroke-default: #{colors.$grey-300};
  --node-fill-active: #{colors.$blue-900};
  --node-stroke-active: #{colors.$blue-600};
  --node-fill-selected: #{colors.$blue-900};
  --node-stroke-selected: #{colors.$blue-300};
  --node-labeltext-fill: #{colors.$black-800};
  --edge-stroke: #{colors.$black-100};
  --edge-arrowhead-fill: #{colors.$slate-0};
  --layer-fill: #{colors.$white-300};
  --layer-text: #{colors.$black-900};
  --node-input-fill: #{colors.$black-200};
  --parameter-accent: #{colors.$purple-300};
  --parameter-accent-input: #{colors.$purple-300};

  @mixin export {
    --node-fill-default: #{colors.$white-200};
    --node-stroke-default: #{colors.$white-900};
    --edge-stroke: colors.$white-900;
    --edge-arrowhead-fill: colors.$white-900;
  }

  &.pipeline-graph--export {
    @include export;
  }

  @media print {
    @include export;
  }
}

.kui-theme--dark {
  --node-icon-fill: #{colors.$white-600};
  --node-input-fill-active: #{colors.$slate-500};
  --node-input-icon-selected: #{colors.$white-800};
  --node-fill-default: #{colors.$slate-0};
  --node-stroke-default: #{colors.$black-400};
  --node-fill-active: #{colors.$blue-900};
  --node-stroke-active: #{colors.$blue-600};
  --node-fill-selected: #{colors.$blue-900};
  --node-stroke-selected: #{colors.$blue-300};
  --node-labeltext-fill: #{colors.$white-600};
  --edge-stroke: #{colors.$black-300};
  --edge-arrowhead-fill: #{colors.$white-900};
  --layer-fill: #{colors.$slate-600};
  --layer-text: #{colors.$white-0};
  --node-input-fill: #{colors.$grey-800};
  --parameter-accent: #{colors.$yellow-300};
  --parameter-accent-input: #{colors.$yellow-900};
}
