@use '../../../styles/variables' as colors;
@use './edges';
@use './layers';
@use './node';
@use './variables';

.pipeline-flowchart {
  height: 100%;
}

.pipeline-flowchart__graph {
  display: block;

  &.pipeline-graph--export.kui-theme--dark {
    background: colors.$slate-900;
  }

  @media print {
    width: 100%;
    height: auto;
  }
}

.pipeline-zoom-wrapper {
  &--hidden {
    opacity: 0;
  }

  @media print {
    transform: inherit;
    opacity: 1;
  }
}

// Applied during pan, zoom and indirectly by transitions
.pipeline-flowchart__zoom-wrapper--animating {
  // Performance: Lower render quality
  shape-rendering: optimizespeed;
  text-rendering: optimizespeed;
}
