-r requirements.txt
apache-airflow<3.0
bandit>=1.6.2, <2.0
behave
black~=22.0
flake8
pre-commit>=1.17.0, <2.0
pylint>=2.5.2, <3.0
pytest
pytest-cov
pytest-mock
SQLAlchemy<1.4
trufflehog>=2.1.0, <3.0
wheel
