/** Imports **/

@use '../../../styles/variables' as colors;

/** Variables **/
$timing-primary: 0.2s;
$secondary-underline-height: 2px;
$secondary-underline-offset: 8px;
$secondary-underline-offset-hover: 4px;

.kui-theme--light {
  --color-button--border: #{colors.$black-900};
  --color-button--border--disabled: #{colors.$grey-400};
  --color-button__text--hover: #{colors.$white-600};
  --color-button__text: #{colors.$black-800};
  --color-secondary-active: #{colors.$white-100};
}

.kui-theme--dark {
  --color-button--border: #{colors.$white-0};
  --color-button--border--disabled: #{colors.$grey-900};
  --color-button__text--hover: #{colors.$black-800};
  --color-button__text: #{colors.$white-600};
  --color-secondary-active: #{colors.$slate-0};
}

.button {
  display: inline-block;
}

.button__btn {
  background: none;
  border-radius: 0;
  border: none;
  box-shadow: none;
  color: var(--color-button__text);
  cursor: pointer;
  font-family: inherit;
  font-size: 1.6em;
  font-weight: 600;
  justify-content: center;
  letter-spacing: 0.1px;
  line-height: 1.3;
  margin: 2px;
  padding: 0.7em 0.8em 0.8em;
  transition: background ease $timing-primary, border-color ease $timing-primary,
    color ease $timing-primary;
}

.button__btn--small {
  font-size: 1.4em;
  letter-spacing: 0.1px;
  line-height: 1.4;
  padding: 0.7em 0.85em;
}

.button__btn--primary {
  border: 2px solid var(--color-button--border);

  &:active:not(:disabled) {
    background: var(--color-button--border);
    color: var(--color-button__text--hover);
    transition: none;
  }

  &:focus {
    box-shadow: 0 0 0 7px colors.$blue-300;
  }

  &:hover:not(:disabled) {
    background: var(--color-button--border);
    color: var(--color-button__text--hover);
  }

  &:disabled {
    border: 2px solid var(--color-button--border--disabled);
    color: var(--color-button--border--disabled);
    cursor: not-allowed;
  }

  &:focus-visible {
    outline: none;
  }

  [data-whatinput='mouse'] &:focus {
    box-shadow: none;
  }
}

.button__btn--secondary {
  outline: 4px solid transparent;

  &::after {
    display: block;
    content: '';
    width: 100%;
    height: $secondary-underline-height;

    /* Offset the underline height so it doesn't affect text vertical alignment */
    margin-bottom: -$secondary-underline-height;
    transform: translateY($secondary-underline-offset);
    transition: transform ease 0.1s, background ease 0.1s;
    background: none;
  }

  &:focus {
    outline: 4px solid colors.$blue-300;
  }

  &:hover::after {
    background: var(--color-button--border);
    transform: translateY($secondary-underline-offset-hover);
  }

  &:active {
    background-color: var(--color-secondary-active);
    outline-color: var(--color-secondary-active);
  }

  [data-whatinput='mouse'] &:focus {
    outline: none;
  }
}

.button__btn--success {
  animation: scale 0.35s ease;
  background-color: colors.$green-300;
  border: 2px solid colors.$green-300;
  color: colors.$black-900;
  width: 172px; // Match the `Apply and close` width to avoid a layout shift.

  &:focus-visible {
    outline: none;
  }
}

.success-check-mark {
  animation: grow 0.35s 0.4s ease forwards;
  margin-left: 0.5em;
  transform: scale(0);
}

@keyframes scale {
  0% {
    transform: scaleX(1);
  }

  50% {
    transform: scaleX(1.15);
  }

  75% {
    transform: scaleX(0.9);
  }

  100% {
    transform: scaleX(1);
  }
}

@keyframes grow {
  0% {
    transform: scale(0);
  }

  80% {
    transform: scale(1.25);
  }

  100% {
    transform: scale(1);
  }
}
