@use '../../styles/variables' as colors;

// -- Theme colors as CSS Custom Properties -- //

.kui-theme--light {
  --color-default-alt: #{colors.$black-900};
  --color-text: #{colors.$black-800};
  --color-text-alt: #{colors.$white-600};
  --color-text-faded: #{colors.$black-700};
  --color-bg-1: #{colors.$white-800};
  --color-bg-2: #{colors.$grey-0};
  --color-bg-3: #{colors.$white-200};
  --color-bg-4: #{colors.$white-0};
  --color-bg-5: #{colors.$white-600};
  --color-bg-alt: #{colors.$black-700};
  --color-bg-list: #{colors.$white-100};
  --color-sidebar-background: #{colors.$white-200};
  --color-global-toolbar-background: #{colors.$white-100};
  --color-global-toolbar-active-btn: #{colors.$grey-0};
  --color-pipeline-toolbar-background: #{colors.$grey-0};
  --color-sidebar-border: #{colors.$white-800};
  --color-sidebar-shadow: #{colors.$grey-300};
  --color-run-list-divider: #{colors.$white-600};
  --color-run-list-hover: #{colors.$white-0};
  --color-base-20: #{colors.$grey-300};
  --color-black-10: #{colors.$white-200};
  --color-border-line: #{colors.$white-500};

  // Experiment tracking colors below
  --color-exp-tracking-bg: #{colors.$white-0};
  --color-exp-tracking-metadata: #{colors.$white-0};
  --color-exp-tracking-datasets: #{colors.$white-100};
  --color-metrics-plot-text: #{colors.$grey-200};
  --color-metrics-plot-text-bold: #{colors.$black-900};
  --color-metrics-plot-axis-ends: #{colors.$grey-800};
  --color-metrics-plot-parallel-coords-line: #{colors.$white-200};
  --color-metrics-plot-parallel-coords-line-hover: #{colors.$black-0};
  --color-metrics-plot-parallel-coords-axis-hover: #{colors.$grey-800};
  --color-metrics-plot-tooltip-value: #{colors.$white-0};
  --color-metrics-plot-tooltip-label: #{colors.$grey-300};
  --color-metrics-plot-time-series-metric-line: #{colors.$grey-200};
  --color-metrics-plot-time-series-axis: #{colors.$grey-300};
  --color-metrics-plot-time-series-run-line: #{colors.$grey-100};
  --color-metrics-plot-time-series-run-line-hovered: #{colors.$black-0};
  --color-metrics-plot-time-series-dotted-line: #{colors.$grey-600};
}

.kui-theme--dark {
  --color-default-alt: #{colors.$white-0};
  --color-text: #{colors.$white-600};
  --color-text-alt: #{colors.$black-800};
  --color-text-faded: #{colors.$black-0};
  --color-bg-1: #{colors.$slate-900};
  --color-bg-2: #{colors.$slate-600};
  --color-bg-3: #{colors.$slate-400};
  --color-bg-4: #{colors.$slate-900};
  --color-bg-5: #{colors.$slate-0};
  --color-bg-alt: #{colors.$white-0};
  --color-bg-list: #{colors.$slate-600};
  --color-sidebar-background: #{colors.$slate-400};
  --color-global-toolbar-background: #{colors.$slate-900};
  --color-global-toolbar-active-btn: #{colors.$slate-400};
  --color-pipeline-toolbar-background: #{colors.$slate-700};
  --color-sidebar-border: #{colors.$grey-300};
  --color-sidebar-shadow: #{colors.$ocean-900};
  --color-run-list-divider: #{colors.$slate-0};
  --color-run-list-hover: #{colors.$slate-0};
  --color-base-20: #{colors.$grey-800};
  --color-black-10: #{colors.$slate-700};

  // Experiment tracking colors below
  --color-exp-tracking-bg: #{colors.$slate-900};
  --color-exp-tracking-metadata: #{colors.$slate-800};
  --color-exp-tracking-datasets: #{colors.$black-850};
  --color-metrics-plot-text: #{colors.$grey-900};
  --color-metrics-plot-text-bold: #{colors.$white-0};
  --color-metrics-plot-axis-ends: #{colors.$grey-300};
  --color-metrics-plot-parallel-coords-line: #{colors.$slate-300};
  --color-metrics-plot-parallel-coords-line-hover: #{colors.$grey-400};
  --color-metrics-plot-parallel-coords-axis-hover: #{colors.$white-900};
  --color-metrics-plot-tooltip-value: #{colors.$black-900};
  --color-metrics-plot-tooltip-label: #{colors.$black-500};
  --color-metrics-plot-time-series-metric-line: #{colors.$grey-700};
  --color-metrics-plot-time-series-axis: #{colors.$grey-900};
  --color-metrics-plot-time-series-run-line: #{colors.$slate-200};
  --color-metrics-plot-time-series-run-line-hovered: #{colors.$white-0};
  --color-metrics-plot-time-series-dotted-line: #{colors.$grey-500};
}

.kedro {
  -webkit-font-smoothing: antialiased;
  font-family: Inter, sans-serif;
  font-size: 10px;
  font-weight: 400;
  letter-spacing: 0.1px;
  line-height: 1.4;
}

*,
::after,
::before {
  box-sizing: border-box;
}
