@use '../../styles/extends';

.pipeline-primary-toolbar {
  @extend %listReset;
}

.pipeline-primary-toolbar li {
  display: flex;
  justify-content: center;
}

.pipeline-menu-button svg {
  transition: transform ease 0.4s;
}

.pipeline-menu-button--inverse svg {
  transform: rotate(-180deg);
}
