@use '../../../styles/variables' as variables;

/** Variables */

/* the height of each item/row */
$menu-item-height: 40px;

.kui-theme--light {
  --menu-option-bg-hover: #{variables.$white-600};
  --menu-option-divider: #{variables.$white-800};
  --menu-option-text-color: #{variables.$black-800};
}

.kui-theme--dark {
  --menu-option-bg-hover: #{variables.$slate-500};
  --menu-option-divider: #{variables.$slate-200};
  --menu-option-text-color: #{variables.$white-600};
}

.menu-option {
  align-items: center;
  border-bottom: 1px solid var(--menu-option-divider);
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  height: $menu-item-height;
  outline: none;
  overflow: hidden;
  padding: 0 variables.$sidebar-padding 0
    calc(#{variables.$sidebar-padding} - 2px);
  user-select: none;
  white-space: nowrap;

  &:hover {
    background: var(--menu-option-bg-hover);
  }

  &:last-of-type {
    border-bottom: none;
  }
}

.menu-option__content {
  align-items: center;
  color: var(--menu-option-text-color);
  display: flex;
  font-size: 1.6em;
  letter-spacing: 0.1px;
  line-height: 1.25;
  position: relative;
  text-overflow: ellipsis;
  width: 100%;
}
