@use '../../../../styles/variables' as colors;

$default-input-width: 320px;
$duration-input-transition: 0.3s;
$height-tiny: 1px;
$margin-top-line: 3px;
$offset-top-bottom-small: 4px;
$padding-left-right: 11px;
$padding-top-bottom: 7px;

/** Implementation **/

.search-input-wrapper {
  width: 100%;
  max-width: $default-input-width;
}

.search-input {
  /** padding top can be overriden if label is generated (see below) **/
  padding: $padding-top-bottom $padding-left-right;
  border: $height-tiny solid colors.$slate-0;
  box-sizing: border-box;

  &--disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.search-input--focused {
  &.search-theme--light {
    outline: 4px solid;
  }

  &.search-theme--dark {
    outline: 4px solid;
  }

  [data-whatintent='keyboard'] & {
    box-shadow: none;
  }

  [data-whatintent='mouse'] & {
    outline: none;
  }
}

.search-input__field {
  background: transparent;
  border: none;
  font-family: Inter, sans-serif;
  font-size: 1.6em;
  font-weight: 400;
  letter-spacing: 0.1px;
  line-height: 1.3;
  outline: none;
  padding: 0;
  width: 100%;

  &,
  &:hover,
  &:active,
  &:focus {
    box-shadow: none;
  }

  /** more specific selector needs to be stated so the changes apply **/
  .search-input.search-input--disabled & {
    cursor: not-allowed;
  }
}

.search-theme--dark .search-input__field {
  color: colors.$white-600;
}

.search-input__label {
  display: flex;
  font-size: 1.4em;
  letter-spacing: 0.1px;
  line-height: 1.4;
  margin-bottom: $offset-top-bottom-small;
}

.search-input__line {
  display: flex;
  font-size: 1.6em;
  font-weight: 400;
  height: $height-tiny;
  letter-spacing: 0.1px;
  line-height: 1.3;
  margin-top: $margin-top-line;
  pointer-events: none;

  &::before {
    content: attr(data-value);
    overflow: hidden;
    white-space: pre;
    background-color: transparent;
    color: transparent;
    transition: background-color $duration-input-transition;
  }

  &::after {
    content: '';
    flex: 0;
    background-color: transparent;
    transition: background-color $duration-input-transition,
      flex $duration-input-transition;
  }

  .search-input__field:focus + &::after,
  .search-input__field:active + &::after {
    flex: 1;
    transition-timing-function: ease-out;
  }
}
