@use '../../../styles/variables' as colors;

.kui-theme--light {
  --header-border-bottom: #{colors.$white-300};
}

.kui-theme--dark {
  --header-border-bottom: none;
}

.runs-list-top-wrapper {
  position: sticky;
  top: 0;
  z-index: 1;
}

.search-bar-wrapper {
  background: var(--color-bg-2);
  padding-top: 24px;
  position: sticky;
  top: 0;
  z-index: 1;
}

.runs-list__wrapper {
  width: 100%;
}

.runs-list__accordion-header {
  background-color: var(--color-bg-2);
  border-bottom: 1px solid var(--header-border-bottom);
  padding: 0.8em 3.5em 0.8em 3em;
}

.compare-switch-wrapper {
  align-items: baseline;
  background: var(--color-bg-2);
  display: flex;
  justify-content: space-between;
  padding: 3.5em 3.5em 1.2em 3em;
  position: sticky;
  top: 64px;
  z-index: 1;
}

.compare-switch-wrapper__text {
  font-size: 14px;
}
