@use '../../../styles/variables' as colors;

@mixin fade-in($waitTime) {
  animation: wait #{$waitTime}, fade-in 500ms #{$waitTime};
}

@keyframes wait {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

$triangle-size: 10px;

.tooltip {
  background: var(--color-bg-alt);
  display: flex;
  flex-direction: column;
  opacity: 0;
  padding: 10px 30px 10px 10px;
  position: absolute;
}

.tooltip--show {
  @include fade-in('700ms');

  animation-fill-mode: forwards;
}

.tooltip-arrow {
  display: inline-block;
  height: 0;
  left: 1px;
  margin-right: 1.6em;
  margin-top: -1.2em;
  position: absolute;
  top: 22px;
  white-space: nowrap;
  width: 0;
}

.tooltip-arrow--right {
  &::before {
    border-left: $triangle-size solid transparent;
    border-top: $triangle-size solid var(--color-bg-alt);
    content: '';
    height: 0;
    left: -$triangle-size + 0.5;
    position: absolute;
    top: calc(50% - #{$triangle-size});
    width: 0;
  }
}

.tooltip-arrow--left {
  &::before {
    border-right: $triangle-size solid transparent;
    border-top: $triangle-size solid var(--color-bg-alt);
    content: '';
    height: 0;
    position: absolute;
    right: -225.5px;
    top: calc(50% - #{$triangle-size});
    width: 0;
  }
}

.tooltip-label,
.tooltip-value {
  font-size: 12px;
  font-weight: 400;
  margin: 0;
  overflow: hidden;
  overflow-wrap: break-word;
  width: 180px;
}

.tooltip-label {
  color: var(--color-metrics-plot-tooltip-label);
}

.tooltip-value {
  color: var(--color-metrics-plot-tooltip-value);
}
