@use '../../../styles/extends';
@use '../../../styles/variables' as colors;

.kui-theme--light {
  --color-run-list-highlight: #{colors.$blue-300};
  --color-run-list-bookmark: #{colors.$black-800};
}

.kui-theme--dark {
  --color-run-list-highlight: #{colors.$blue-300};
  --color-run-list-bookmark: #{colors.$white-600};
}

.runs-list-card {
  align-items: flex-start;
  background: var(--color-bg-3);
  border-bottom: 1px solid var(--color-run-list-divider);
  display: flex;
  padding: 1.6em 2.8em 2em 3em;

  &--active {
    background: var(--color-run-list-hover);
    box-shadow: -1px 0 0 inset colors.$blue-300;
  }

  &--disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}

.runs-list-card--hovered {
  background: var(--color-run-list-hover);
  cursor: pointer;

  .runs-list-card__bookmark--stroke {
    opacity: 1;
  }
}

.runs-list-card__title {
  font-size: 1.6em;
  line-height: 1.5;

  b {
    color: var(--color-run-list-highlight);
    font-weight: normal;
  }
}

.runs-list-card__gitsha {
  color: var(--color-text-faded);
  font-size: 1.3em;
  margin: 4px 0 12px;

  b {
    color: var(--color-run-list-highlight);
    font-weight: normal;
  }
}

.runs-list-card__timestamp {
  font-size: 1.3em;
}

.runs-list-card__notes {
  font-size: 1.3em;
  padding-top: 24px;

  b {
    color: var(--color-run-list-highlight);
    font-weight: normal;
  }
}

.runs-list-card__checked {
  @extend %runs-list-card--default;

  &--comparing {
    fill: var(--color-base-20);
  }

  &--active {
    fill: colors.$blue-300;
  }

  &--selected-first {
    @extend %runs-list-card--selected-first;
  }

  &--selected-second {
    @extend %runs-list-card--selected-second;
  }

  &--selected-third {
    @extend %runs-list-card--selected-third;
  }
}

.runs-list-card__bookmark {
  fill: var(--color-run-list-bookmark);
  height: 24px;
  margin-left: auto;
  opacity: 1;
  transition: fill 300ms ease;
  width: 24px;

  &:hover {
    fill: var(--color-default-alt);
  }

  &--stroke {
    opacity: 0;
    transition: fill 300ms ease;
  }
}
