# prefix is determined in coin-config, making the package "movable"
host="x86_64-pc-linux-gnu"
exec_prefix="${prefix}"
version="4.0.0a"
cflags="-g -O2 -fstack-protector-strong -Wformat -Werror=format-security"
cppflags=" -I${prefix}/include -I${prefix}/include/Inventor/annex -D_FORTIFY_SOURCE=2 -D_REENTRANT"
cxxflags="-g -O2 -fstack-protector-strong -Wformat -Werror=format-security"
ldflags="-L${prefix}/lib/x86_64-linux-gnu -Wl,-Bsymbolic-functions -Wl,-z,relro"
libs="-lCoin -lGL -lXext -lSM -lICE -lX11 -ldl -lpthread"
msvcrt=""
datadir="${prefix}/share"
includedir="${prefix}/include"
frameworkdir=""
htmldir="${datadir}/doc/libcoin80-doc/html"
compiler="g++"
objext="o"
have_3ds_import=0
have_vrml97=1
have_sound=1
have_superglu=0
have_threads=1
have_threadsafe=1
compiler_is_gcc=yes
