version: 2

jobs:
  build:
    working_directory: ~/test
    machine: true
    steps:
      - checkout
      - run:
          name: Fast finish outdated PRs and merge PRs
          command: |
            ./scripts/fast_finish_ci_pr_build.sh
            ./scripts/checkout_merge_commit.sh
      - run:
          # Note, we used to use the naive caching of docker images, but found
          # that it was quicker just to pull each time. #rollondockercaching
          command: docker pull condaforge/linux-anvil
      - run:
          command: ./scripts/run_docker_build.sh

workflows:
  version: 2
  build_and_test:
    jobs:
      - build
