.pipeline-settings-modal--experiment-tracking .pipeline-settings-modal__name {
  margin-top: 0;
}

.run-details-modal-button-wrapper {
  align-items: baseline;
  display: flex;
  justify-content: flex-end;
  width: 100%;

  .button:first-of-type {
    margin-right: 20px;
  }
}

.run-details-modal-error-wrapper {
  font-size: 15px;
  text-align: right;
  width: 100%;
}
