@use '../../styles/variables' as variables;

.pipeline-search-list {
  padding: 2px (variables.$sidebar-padding - 0.4) 0
    (variables.$sidebar-padding - 0.4);

  .search-bar,
  .search-input-wrapper {
    max-width: none;
  }

  .search-bar .icon--close {
    height: 20px;
    right: 2px;
    top: 18px;
    width: 20px;
    z-index: 1;
  }

  .search-bar .icon__graphics {
    opacity: 0.45;
    fill: var(--color-default-alt) !important;
  }

  .search-bar--focused .icon__graphics {
    opacity: 0.75;
  }

  .search-input {
    padding: 5px;
  }

  .search-input:active:not(.search-input--disabled),
  .search-input:hover:not([disabled]),
  .search-input,
  .search-input--focused,
  .search-input__field {
    background: none;
    border: none;
    box-shadow: none;
  }

  .search-input--focused {
    position: relative;
    z-index: 1;
    outline-color: variables.$blue-300;
  }

  .search-input__field::placeholder {
    opacity: 1;
  }

  .search-input__field::placeholder {
    color: var(--color-default-alt) !important;
    opacity: 0.5;
  }

  .search-input__field:hover::placeholder {
    opacity: 0.7;
  }

  .search-input__field:focus::placeholder {
    opacity: 0.95;
  }

  .search-input__field {
    margin: 0 0 2px 32px;
    font-size: 1.6em;
  }

  .search-bar__icon-wrapper .icon {
    top: 16px;
    left: 6px;
  }

  .search-input__line::before {
    flex: 1;
    max-width: none;
  }

  .search-input__line::before {
    background-color: var(--color-default-alt);
    opacity: 0.3;
    transition: background-color 0.3s, opacity 0.3s;
  }

  .search-bar--focused .search-input__line::before {
    opacity: 0.55;
  }

  .search-bar .search-input__line:not([data-value=''])::before {
    background-color: variables.$blue-300;
    opacity: 1;
  }

  .search-input__line::after {
    display: none;
  }
}
