@use '../../styles/variables' as variables;

.pipeline-warning {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  left: 0;
  position: absolute;
  text-align: center;
  top: 0;
  transform: translateX(variables.$sidebar-width-closed);
  transition: transform 0.4s ease, width ease 0.4s;
  width: calc((100% - #{variables.$sidebar-width-closed}));

  @media (min-width: variables.$sidebar-width-breakpoint) {
    &--sidebar-visible {
      width: calc((100% - #{variables.$sidebar-width-open}));
      transform: translateX(variables.$sidebar-width-open);
    }
  }
}

%warning-text {
  margin: 0 auto;
  width: 90%;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.pipeline-warning__title {
  @extend %warning-text;

  animation: fadeIn 1s;
  font-size: 2.8em;
  font-weight: normal;
  margin-bottom: 0.6em;

  @media (min-width: variables.$sidebar-width-breakpoint) {
    font-size: 3.8em;
  }
}

.pipeline-warning__subtitle {
  @extend %warning-text;

  animation: fadeIn 1s;
  font-size: 1.4em;
  margin-bottom: 2.4em;
  max-width: 30em;

  @media (min-width: variables.$sidebar-width-breakpoint) {
    font-size: 1.5em;
  }
}

.pipeline-warning .button:first-of-type {
  margin-bottom: 1.2em;
}
