@use '../../../styles/variables' as variables;

.details-dataset {
  background-color: var(--color-exp-tracking-datasets);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  min-width: 100%;
  padding: 5em 0 0 9em;
  width: max-content;

  &--not-overview {
    background-color: var(--color-exp-tracking-bg);
    padding: 0.5em 0 0 9em;
  }
}

.details-metadata__title-detail--plots {
  padding: 1px 0 1rem;
}

.details-dataset__accordion {
  margin-bottom: 36px;
  width: 100%;
}

.details-dataset__accordion-header {
  margin-bottom: 16px;

  &--hidden {
    display: none;
  }
}

.details-dataset__row {
  display: flex;
  font-size: 1.4em;
}

.details-dataset__name-header,
.details-dataset__value-header {
  color: var(--color-text-faded);
  font-size: 13px;
}

.details-dataset__label,
.details-dataset__value,
.details-dataset__value-header {
  margin-bottom: 8px;
}

.details-dataset__label,
.details-dataset__name-header {
  display: block;
  flex-shrink: 0;
  width: variables.$run-width;
}

.details-dataset__value,
.details-dataset__value-header {
  display: flex;
  flex-shrink: 0;
  min-height: 20px;
  width: variables.$run-width;
  word-break: break-all;
}

.details-dataset__accordion-wrapper-comparison-view {
  .details-dataset__label,
  .details-dataset__name-header,
  .details-dataset__value,
  .details-dataset__value-header {
    width: variables.$run-width-comparison-view;
  }
}

.dataset-arrow-icon {
  fill: variables.$blue-300;
  height: 1.7em;
  margin-left: 1em;
  width: 1.7em;
}

.details-dataset__visualization-wrapper,
.details-dataset__image-container {
  cursor: pointer;
  opacity: 1;
  transition: 0.2s opacity ease;

  &:hover {
    opacity: 0.85;
  }
}

.details-dataset__image-container {
  height: auto;
}

.details-dataset__image {
  max-width: 250px;
  width: 100%;
}

.details-dataset__empty-plot {
  align-items: center;
  background-color: var(--color-bg-1);
  border: 1px solid var(--color-bg-5);
  display: flex;
  height: 188px;
  justify-content: center;
  width: 250px;
}

.details-dataset__transition-group-wrapper {
  display: flex;
}

.details-dataset__transition-group-wrapper .details-dataset__value {
  &:first-of-type {
    margin-right: 3.5em;
  }

  &:nth-of-type(2) {
    margin-right: 8.5em;
  }
}

// to ensure the value header is aligned with its value
.details-dataset__transition-group-wrapper .details-dataset__value-header {
  &:nth-of-type(1) {
    margin-right: 3.8em;
  }

  &:nth-of-type(2) {
    margin-right: 9.2em;
  }
}

.details-dataset__deltaValue {
  color: variables.$blue-300;
  margin-left: 0.5em;
}

.details-dataset__value--comparison-view {
  min-height: 1.7em;
}
