@use '../../styles/mixins' as mixins;

.kedro-pipeline {
  position: relative;
  height: 100%;
  overflow: hidden;
  color: var(--color-text);
  background: var(--color-bg-4);

  &.kui-theme--light {
    @media print {
      background: none;
    }
  }
}

.pipeline-title {
  @include mixins.screenReaderOnly;
}
