# System packages required for building asciidoctor-revealjs
# These packages provide zlib and other essential libraries

zlib-devel
openssl-devel
readline-devel
libyaml-devel
libffi-devel
libxcrypt-devel
libxcrypt-compat
