alsa-lib
expat
gtk2
gtkmm24
libdrm
libglvnd-egl
libglvnd-glx
libICE
libselinux
libSM
libX11
libXau
libxcb
libXcomposite
libXcursor
libXdamage
libXext
libXfixes
libXi
libxkbcommon
libXrandr
libXrender
libXScrnSaver
libXtst
libXxf86vm
mesa-dri-drivers
mesa-libEGL
mesa-libGL
pciutils
pcre
xcb-util
xcb-util-image
xcb-util-keysyms
xcb-util-renderutil
xcb-util-wm
xorg-x11-server-Xvfb
