@use '../../styles/variables' as colors;

.kui-theme--light {
  --pipeline-list-option-bg-active: #{colors.$white-400};
  --pipeline-list-option-text-color: #{colors.$black-800};
}

.kui-theme--dark {
  --pipeline-list-option-bg-active: #{colors.$slate-300};
  --pipeline-list-option-text-color: #{colors.$white-600};
}

.pipeline-list {
  .dropdown__label,
  .menu-option {
    height: 58px;

    &.pipeline-list__option--active {
      background: var(--pipeline-list-option-bg-active);
      border-left: 2px solid colors.$blue-300;
      color: var(--pipeline-list-option-text-color);
    }
  }
}
