libselinux
libXdamage
libXxf86vm
libX11-devel
libXt-devel
libXtst-devel
libXrender-devel
libXext-devel
libXdmcp-devel
libXcomposite-devel
libXcursor-devel
libxcb-devel
libXau-devel
libXi-devel
libXScrnSaver-devel
libXrandr-devel
mesa-libGL
mesa-dri-drivers
xorg-x11-server-Xvfb