+ xorg-x11-server-Xvfb
+ gtk2-devel
+ libXcomposite
+ libXcursor
+ libXi
+ libXtst
+ libXrandr
+ alsa-lib
+ mesa-libEGL
+ libXdamage
+ mesa-libGL 
+ libXScrnSaver
+ libX11-devel
+ libXt-devel
+ libXext-devel
+ chrpath
+ libXrender-devel
+ dbus-devel
+ libSM-devel
+ libICE-devel
