@use '../../../styles/variables' as colors;

.parallel-coordinates {
  flex: 1 1 auto;
  font-family: sans-serif;
  margin: 0 4em 0 0;
}

.parallel-coordinates .text {
  font-size: 12px;
  font-weight: 400;
}

.run-line {
  cursor: pointer;
  stroke: var(--color-metrics-plot-parallel-coords-line);

  &--hovered {
    stroke: var(--color-metrics-plot-parallel-coords-line-hover);
  }

  &--selected-first {
    stroke: colors.$purple-300;
  }

  &--selected-second {
    stroke: colors.$yellow-300;
  }

  &--selected-third {
    stroke: colors.$green-300;
  }
}

.marker-path {
  &--selected-0 {
    stroke: colors.$purple-300;
  }

  &--selected-1 {
    stroke: colors.$yellow-300;
  }

  &--selected-2 {
    stroke: colors.$green-300;
  }
}

g.run-lines path {
  fill: none;
  stroke-linecap: 'round';
}

g.highlight path {
  fill: none;
}

g.selected-runs path {
  fill: none;
}

.headers {
  fill: var(--color-metrics-plot-text-bold);
  font-size: 14px;
  font-weight: 400;
}

// y-Axis
.domain {
  stroke: var(--color-metrics-plot-text);
}

// Start/end tick-values
.tick-values > .text:first-of-type,
.tick-values > .text:last-of-type {
  fill: var(--color-metrics-plot-axis-ends);
}

.tick-values .text {
  fill: var(--color-metrics-plot-text);
  font-size: 12px;
}

.tick-lines .line {
  stroke: var(--color-metrics-plot-text);

  &--hovered {
    stroke: colors.$grey-400;
  }
}

// Selected runs
.selected-runs .text {
  fill: var(--color-metrics-plot-text-bold);
  font-weight: 600;
}

// Hovered Y-axis
.metric-axis--hovered {
  .domain {
    stroke: colors.$grey-400;
    stroke-width: 1px;
  }

  .headers {
    cursor: pointer;
    fill: var(--color-metrics-plot-text-bold);
  }
}

// Hovered run
.tick-values .text--hovered {
  fill: var(--color-metrics-plot-parallel-coords-axis-hover) !important;
}

.metric-axis--faded,
.run-line--faded,
.text--faded,
.line--faded {
  opacity: 0.55;
}
