@use '../../../styles/variables' as colors;

$default-input-width: 320px;
$size-icon: 24px;
$size-input-offset: 44px;
$size-pos-base: 10px;

.search-bar {
  position: relative;
  width: 100%;
  max-width: $default-input-width;
}

.search-input {
  .search-bar & {
    padding-left: $size-input-offset;
  }
}

.icon {
  transition: 0.3s opacity;

  .search-bar & {
    position: absolute;
    top: 50%;
    z-index: 1;
    opacity: 0.3;
    transform: translate(0, -50%);
  }

  .search-bar--focused & {
    opacity: 1;
  }
}

.search-bar__icon-wrapper {
  transition: 0.3s opacity;

  .icon {
    top: calc(#{$size-pos-base} * 2);
    left: calc(#{$size-icon} / 2);
    width: $size-icon;
    height: $size-icon;
    opacity: 0.45;
    fill: var(--color-default-alt) !important;
  }
}

.search-input__field {
  .search-bar & {
    max-width: calc(100% - #{$size-icon});
  }
}

.search-input__line::before {
  .search-bar & {
    max-width: calc(100% - #{$size-icon});
  }
}

.search-bar__dynamic-icon {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.1s, visibility 0.1s;

  &--visible {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.1s;
  }
}

.icon--close {
  background: none;
  border-radius: 0;
  border: none;
  box-shadow: none;
  cursor: pointer;
  height: 20px;
  outline: 4px solid transparent;
  padding: 0;
  position: absolute;
  right: 2px;
  top: 18px;
  transform: translateY(-50%);
  width: 20px;

  &:focus {
    outline-color: colors.$blue-300;
  }

  .search-bar & {
    right: $size-pos-base;
    width: $size-icon;
    height: $size-icon;
  }
}

.icon__graphics {
  height: 100%;
  pointer-events: none;
  right: 0;
  width: 100%;
}

.search-bar__label {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
