#ifdef FirstSite

#endif /* FirstSite */

#ifdef SecondSite

#define YmakeRoot ${PREFIX}

#define LibSearch ${x11_lib} -L${PREFIX}/lib -Wl,-rpath,${PREFIX}/lib
#define IncSearch ${x11_inc} -I${PREFIX}/include -I${PREFIX}/include/freetype2

#define BuildGDAL 1

#define HDF5lib -lhdf5_hl -lhdf5 -lz
#define NetCDF4lib  -lhdf5_hl -lhdf5

#endif /* SecondSite */
