@use '../../../styles/variables' as variables;

/** Variables */

/* the maximum dropdown before a scrollbar is required */
$menu-max-height: 300px;

/* the height of each item/row */
$menu-item-height: 40px;

/* padding at the top and bottom of each group of items */
$menu-group-padding: 4px;

/* the padding of each item (either side of the text ) */
$menu-item-padding: 12px;

.kui-theme--light {
  --dropdown-shadow: #{variables.$white-300};
  --dropdown-label-bg: #{variables.$white-200};
  --dropdown-options-bg: #{variables.$grey-100};
}

.kui-theme--dark {
  --dropdown-shadow: #{variables.$slate-200};
  --dropdown-label-bg: #{variables.$slate-500};
  --dropdown-options-bg: #{variables.$slate-600};
}

.dropdown {
  border: none;
  box-shadow: 0 1px 1px var(--dropdown-shadow);
  box-sizing: border-box;
  color: var(--color-text);
  display: block;
  position: relative;
}

.dropdown--open {
  position: relative;

  .dropdown__label > .dropdown__icon {
    transform: rotate(0deg);
    transition: transform ease 0.2s, background ease 0.2s;
  }
}

.dropdown__label {
  align-items: center;
  background: var(--dropdown-label-bg);
  border-radius: 0;
  border: none;
  box-shadow: none;
  color: var(--color-text);
  cursor: pointer;
  display: flex;
  font-family: inherit;
  font-size: 1.6em;
  height: $menu-item-height;
  justify-content: space-between;
  letter-spacing: 0.1px;
  line-height: 1.25em;
  list-style: none;
  outline: 4px solid transparent;
  overflow: hidden;
  padding: 0 0 0 calc(variables.$sidebar-padding / 1.6); // divide by 1.6em font-size on element
  position: relative;
  user-select: none;
  width: 100%;
  z-index: 8;

  &:disabled {
    cursor: not-allowed;
  }

  &:focus {
    &:focus {
      outline: none;
      box-shadow: 0 0 0 4px variables.$blue-300 inset;

      [data-whatinput='mouse'] & {
        box-shadow: none;
      }
    }
  }

  .dropdown__icon {
    height: 24px;
    margin: 0 8px 0 12px;
    position: absolute;
    right: 0;
    transform: rotate(180deg);
    transform-origin: center;
    transition: transform ease 0.2s, background ease 0.2s;
    width: auto;

    > svg {
      fill: var(--color-default-alt);
      height: 24px;
      opacity: 0.5;
      width: 24px;
    }
  }
}

.dropdown__options {
  z-index: 2; // fix closing transition animation bug
  background: var(--dropdown-options-bg);
  border-top: none;
  box-shadow: 0 0 2px variables.$black-800;
  position: absolute;
  visibility: hidden;
  width: 100%;
  max-height: $menu-max-height;
  overflow: auto;
  margin: 0;
  transition: opacity ease 0.2s, transform ease 0.2s, visibility ease 0.2s;
  transform: translateY(-10px);
  opacity: 0;

  .dropdown--open & {
    visibility: visible;
    transition: opacity ease 0.3s, transform ease 0.3s, visibility ease 0.3s;
    opacity: 1;
    transform: translateY(0);
  }

  .dropdown--disabled {
    opacity: 0.5;
  }

  > section {
    padding: 0;
  }
}

.select-dropdown__btn-wrapper {
  background-color: var(--dropdown-options-bg);
  bottom: 0;
  display: flex;
  justify-content: space-around;
  padding: 24px 0;
  position: sticky;
  z-index: 1;
}
