@use '../../../styles/variables' as variables;

.metrics-plots-wrapper {
  height: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  padding: 5em 0 0 9em;
  width: 100%;
}

.metrics-plots-wrapper__header {
  display: flex;
  justify-content: space-between;

  .dropdown {
    margin-right: 30px;
  }
}

.metrics-plots-wrapper__charts-empty {
  font-size: 13px;
}

.chart-types-wrapper {
  border-bottom: 1px solid rgb(255 255 255 / 10%);
  display: flex;
  width: 236px;

  &__tab {
    cursor: pointer;
    font-size: 1.4em;
    padding-bottom: 0.7em;

    &:first-of-type {
      margin-right: 16px;
    }
  }

  &__tab--active {
    border-bottom: 2px solid var(--color-default-alt);
  }
}

.metrics-plots-wrapper__charts {
  display: flex;
  flex-flow: column;
  height: 100%;
  margin-top: 30px;
  overflow: scroll;
}
