# The build was failing without rsh available. See
# https://github.com/nsls-ii-forge/arpack-mpi-feedstock/pull/1 for details.
# Worked fine using the nsls2/debian-with-miniconda:v0.1.2 Docker image where
# ssh/rsh is pre-installed.

rsh
