@use '../../styles/variables' as variables;
@use '../../styles/extends';

.pipeline-sidebar {
  @extend %sidebar;

  position: absolute;
  top: -1px; /* Avoids pixel rounding gaps */
  bottom: -1px;
  left: variables.$global-toolbar-width;

  &--no-global-toolbar {
    left: 0;
  }

  // Ensures sidebar tooltips are above code panel
  z-index: 1;
  display: flex;
  width: 100%;
  transform: translateX(calc(-100% + #{variables.$sidebar-width-closed}));
  transition: transform ease 0.4s;

  @media (min-width: variables.$metadata-sidebar-code-breakpoint) {
    z-index: 3;
  }

  @media (min-width: variables.$sidebar-width-breakpoint) {
    $sidebar-ui-width: variables.$sidebar-width-open -
      variables.$sidebar-width-closed;

    width: variables.$sidebar-width-open;
    transform: translateX(-$sidebar-ui-width);
  }

  &--visible {
    transform: translateX(0);
  }

  @media print {
    display: none;
  }

  &--visible {
    transform: translateX(0);
  }
}

.pipeline-ui {
  background: var(--color-bg-list);
  border-right: 1px solid var(--color-border-line);
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
  position: relative;
  transition: visibility 0.3s;
  visibility: hidden;
  z-index: 2;

  .pipeline-sidebar--visible & {
    visibility: visible;
    transition: visibility 0s;
  }

  &--experiment-tracking {
    overflow-y: scroll;
  }
}

.pipeline-toolbar {
  align-items: center;
  background: var(--color-pipeline-toolbar-background);
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
  width: variables.$sidebar-width-closed;
  z-index: 2;
}

.compare-switch-wrapper__text {
  font-size: 14px;
}
