@use '../../../styles/extends';
@use '../../../styles/variables' as variables;

$triangle-size: 7px;

.pipeline-icon--container {
  position: relative;
}

.pipeline-icon-toolbar__button {
  background: none;
  border: none;
  box-shadow: none;
  color: inherit;
  cursor: pointer;
  font-size: 1.1em;
  height: variables.$sidebar-width-closed;
  padding: 0;
  position: relative;
  text-align: center;
  user-select: none;
  vertical-align: middle;
  width: variables.$sidebar-width-closed;

  @media (height <= 550px) {
    height: variables.$sidebar-width-closed - 14;
  }

  &:focus {
    outline: none;

    [data-whatinput='keyboard'] & {
      outline: 3px solid variables.$blue-300;
    }
  }

  &:hover svg {
    opacity: 1;
  }

  &:disabled {
    cursor: not-allowed;

    svg {
      opacity: 0.2;
    }
  }

  svg {
    width: 2.175em;
    height: 2.175em;
  }

  &--active svg {
    opacity: 1;
  }
}

.pipeline-toolbar__label {
  @extend %tooltip;

  display: inline-block;
  font-size: 1.4em;
  opacity: 0;
  padding: 0.5em 0.7em;
  pointer-events: none;
  position: absolute;
  white-space: nowrap;

  // to ensure the tooltip will show on the top of the bookmark dropdown
  z-index: 1;

  @media (max-width: variables.$sidebar-width-breakpoint) {
    .pipeline-sidebar--visible & {
      left: auto;
      margin-left: auto;
      margin-right: 1.6em;
      right: 50%;
    }
  }

  .pipeline-icon-toolbar__button:hover &,
  [data-whatinput='keyboard'] .pipeline-icon-toolbar__button:focus & {
    pointer-events: all;
  }

  &::after {
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    content: '';

    @media (max-width: variables.$sidebar-width-breakpoint) {
      .pipeline-sidebar--visible & {
        border-color: transparent transparent transparent var(--color-bg-alt);
        border-width: $triangle-size 0 $triangle-size $triangle-size;
        left: auto;
        right: -$triangle-size + 0.5;
      }
    }
  }
}

.pipeline-toolbar__label__visible {
  opacity: 1;
}

.pipeline-toolbar__label-right {
  top: 50%;
  left: 50%;
  margin-top: -1.2em;
  margin-left: 1.6em;

  &::after {
    top: calc(50% - #{$triangle-size});
    left: -$triangle-size + 0.5;
    border-color: transparent var(--color-bg-alt) transparent transparent;
    border-width: $triangle-size $triangle-size $triangle-size 0;
  }
}

.pipeline-toolbar__label-left {
  top: 50%;
  right: 50%;
  margin-top: -1.2em;
  margin-right: 1.6em;

  &::after {
    top: calc(50% - #{$triangle-size});
    right: $triangle-size + 0.5;
    border-color: transparent transparent transparent var(--color-bg-alt);
    border-width: $triangle-size 0 $triangle-size $triangle-size;
  }
}

.pipeline-toolbar__label-bottom {
  left: 50%;
  transform: translateX(-50%);
  margin-top: 0.5em;

  &::after {
    bottom: 100%;
    left: calc(50% - #{$triangle-size});
    border-color: transparent transparent var(--color-bg-alt) transparent;
    border-width: 0 $triangle-size $triangle-size $triangle-size;
  }
}

.pipeline-toolbar__label-top {
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 0.5em;

  &::after {
    top: 100%;
    right: calc(50% - #{$triangle-size});
    border-color: var(--color-bg-alt) transparent transparent transparent;
    border-width: $triangle-size $triangle-size 0 $triangle-size;
  }
}

.pipeline-icon {
  fill: var(--color-default-alt);
  opacity: 0.7;
  transition: opacity 300ms ease;
}
