@use '../../../styles/extends';

$x-offset: 20px;
$y-offset: 10px;
$triangle-size: 10px;

.pipeline-tooltip {
  position: absolute;
  top: -$y-offset;
  left: -$x-offset;
  z-index: 9;
  width: 100vw;
  visibility: hidden;
  opacity: 0;
  transition: opacity ease 0.1s, visibility ease 0.1s 1s;
  pointer-events: none;

  &--visible {
    visibility: visible;
    opacity: 1;
  }

  &--right {
    right: -$x-offset;
    left: auto;
  }

  &--top {
    top: $y-offset;
  }

  &::after {
    position: absolute;
    bottom: -$y-offset + 0.5;
    left: calc($x-offset / 2);
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: $triangle-size $triangle-size 0 $triangle-size;
    border-top-color: var(--color-bg-alt);
    content: '';
  }

  &--right::after {
    right: calc($x-offset / 2);
    left: auto;
  }

  &--top::after {
    top: -$y-offset + 0.5;
    bottom: auto;
    border-width: 0 $triangle-size $triangle-size $triangle-size;
    border-top-color: transparent;
    border-bottom-color: var(--color-bg-alt);
  }
}

.pipeline-tooltip__text {
  @extend %tooltip;

  position: absolute;
  bottom: 0;
  left: 0;
  max-width: calc(50vw - 150px);
  padding: 12px 20px;
  font-size: 1.5em;
  overflow-wrap: break-word;

  .pipeline-tooltip--right & {
    right: 0;
    left: auto;
  }

  .pipeline-tooltip--top & {
    top: 0;
    bottom: auto;
  }
}
