@use '../../../styles/variables' as variables;

.details-mainframe {
  background-color: var(--color-exp-tracking-bg);
  bottom: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-start;
  left: #{variables.$global-toolbar-width};
  overflow-y: scroll;
  position: absolute;
  top: 0;
  transform: translateX(variables.$sidebar-width-closed);
  transition: transform 0.4s ease, width ease 0.4s;
  width: calc(
    (
      100% - #{variables.$sidebar-width-closed} - #{variables.$global-toolbar-width}
    )
  );

  @media (min-width: variables.$sidebar-width-breakpoint) {
    &--sidebar-visible {
      width: calc(
        (
          100% - #{variables.$sidebar-width-open} - #{variables.$global-toolbar-width}
        )
      );
      transform: translateX(variables.$sidebar-width-open);
    }
  }
}

.details__tabs {
  background-color: var(--color-exp-tracking-bg);
  display: flex;
  left: 0;
  position: sticky;
}

.tabs__item {
  background-color: var(--color-sidebar-background);
  cursor: pointer;
  font-size: 0.875rem;
  padding: 15px 0 13px;
  text-align: center;
  width: 200px;

  &--active {
    background-color: var(--color-exp-tracking-bg);
  }
}
