@use '../../../styles/variables' as colors;

$toggle-icon-padding: 0.3em;
$toggle-height: 2.2em + $toggle-icon-padding * 2;
$toggle-width: 1.15em;

// Standard layout

.accordion__heading {
  align-items: center;
  display: flex;
  justify-content: space-between;

  &--hide {
    visibility: hidden;
  }
}

.accordion__title {
  font-size: 1.2em;
  font-weight: 600;

  &--medium {
    cursor: pointer;
    font-size: 1.3em;
    font-weight: 600;
    text-decoration: underline;
    text-underline-offset: 5px;

    &:hover {
      font-weight: 700;
    }
  }

  &--large {
    font-size: 1.6em;
  }
}

.accordion__title--hyperlink {
  color: var(--color-default-alt);

  &:visited {
    color: var(--color-default-alt);
    text-decoration: none;
  }
}

.accordion__title__detail {
  font-weight: normal;
  margin-left: 8px;
}

.accordion__toggle {
  background: none;
  border-radius: 50%;
  border: none;
  box-shadow: none;
  color: var(--color-default-alt);
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  height: $toggle-height;
  line-height: 1em;
  padding: 0;
  text-align: center;
  transition: transform ease 0.1s;
  width: $toggle-width;

  &:focus {
    outline: none;

    [data-whatintent='keyboard'] & {
      box-shadow: 0 0 0 3px colors.$blue-300 inset;
    }
  }

  &::before {
    content: '▾';
    font-size: 1.8em;
    opacity: 0.55;
  }

  &:hover::before {
    opacity: 1;
  }

  &--alt {
    transform: rotate(90deg);
  }
}

.accordion__content--hide {
  display: none;
}

// Layout with left-side toggle

.accordion--left .accordion__heading {
  justify-content: flex-start;
}

.accordion--left .accordion__title {
  margin-left: 0.7em;
}

.accordion--left .accordion__toggle {
  &--alt {
    transform: rotate(-90deg);
  }
}
