@use '../../styles/variables' as colors;
@use '../../styles/mixins' as mixins;

.kui-theme--light {
  --color-modal-header-text: #{colors.$black-700};
  --color-upgrade-reminder-text: #{colors.$blue-300};
}

.kui-theme--dark {
  --color-modal-header-text: #{colors.$black-0};
  --color-upgrade-reminder-text: #{colors.$yellow-300};
}

.pipeline-settings-modal {
  .modal__content {
    width: calc(100% - 5em);
    max-width: 900px;
  }

  .modal__wrapper {
    align-items: flex-start;
    text-align: left;
  }
}

.pipeline-settings-modal__content {
  width: 100%;

  &--short {
    margin-bottom: 2.4em;
  }

  .button {
    margin: 0 10px;
  }

  .pipeline-toggle {
    margin-bottom: 0;
  }
}

.pipeline-settings-modal__group:nth-of-type(2) {
  margin-top: 50px;
}

.pipeline-settings-modal__column {
  margin-bottom: 1.145em;
}

.pipeline-settings-modal__column,
.pipeline-settings-modal__header {
  display: flex;
  flex-wrap: wrap;
  font-size: 1.4em;
}

.pipeline-settings-modal__header {
  margin-bottom: 10px;
  color: var(--color-modal-header-text);
}

.pipeline-settings-modal__subtitle {
  margin-bottom: 24px;
  font-size: 1.8em;
}

.pipeline-settings-modal__name {
  @include mixins.flexColumn(3);
}

.pipeline-settings-modal__description {
  @include mixins.flexColumn(6);
}

.pipeline-settings-modal__state {
  @include mixins.flexColumn(3);
}

.pipeline-settings-modal__upgrade-reminder {
  color: var(--color-upgrade-reminder-text);
  display: inline;
  font-size: 1.3em;

  a {
    color: var(--color-upgrade-reminder-text);
  }
}

.pipeline-settings-modal__already-latest {
  color: var(--color-modal-header-text);
  font-size: 1.3em;
  margin: 2em 0 2.4em;
}
