mesa-libgl-devel mesa-libgl mesa-dri-drivers
xorg-x11-proto-devel xorg-x11-util-macros xorg-x11-server-common
libXdamage libxext-devel libxext libXfixes libx11
libx11-common libx11-devel libxt libxt-devel libxtst libxtst-devel
libXxf86vm libsm libsm-devel
libice libice-devel
libuuid libxcb libxau libselinux

