mesa-libGL-devel
mesa-libGL
mesa-dri-drivers
xorg-x11-proto-devel
xorg-x11-util-macros
xorg-x11-server-common
libXdamage
libXext-devel
libXext
libXfixes
libX11
libX11-common
libX11-devel
libXt
libXt-devel
libXtst
libXtst-devel
libXxf86vm
libSM
libSM-devel
libICE
libICE-devel
libuuid
libxcb
libXau
libselinux

