/* Sets the containers height and width */
.base-timer {
  height: 30px;
  position: relative;
  width: 30px;
}

/* Removes SVG styling that would hide the time label */
.base-timer__circle {
  fill: none;
  stroke: none;
}

/* The SVG path that displays the timer's progress */
.base-timer__path-elapsed {
  stroke-width: 7px;
  stroke: black;
}

.base-timer__label {
  align-items: center;
  display: flex;
  font-size: 12px;
  height: 30px;
  justify-content: center;
  position: absolute;
  top: 0;
  width: 30px;
}

.base-timer__path-remaining {
  /* Just as thick as the original ring */
  stroke-width: 7px;
  stroke: white;

  /* Rounds the line endings to create a seamless circle */
  stroke-linecap: round;

  /* Makes sure the animation starts at the top of the circle */
  transform: rotate(90deg);
  transform-origin: center;

  /* One second aligns with the speed of the countdown timer */
  transition: 1s linear all;
}

.base-timer__svg {
  /* Flips the svg and makes the animation to move left-to-right */
  transform: scaleX(-1);
}
