major_version: "local"
minor_version: ""
default_target_cpu: "same_as_host"

default_toolchain {
  cpu: "darwin"
  toolchain_identifier: "local"
}

toolchain {
  toolchain_identifier: "local"
  abi_version: "local"
  abi_libc_version: "local"
  builtin_sysroot: ""
  compiler: "compiler"
  host_system_name: "local"
  needsPic: true
  supports_gold_linker: false
  supports_incremental_linker: false
  supports_fission: false
  supports_interface_shared_objects: false
  supports_normalizing_ar: false
  supports_start_end_lib: false
  target_libc: "macosx"
  target_cpu: "darwin"
  target_system_name: "local"
  cxx_flag: "-stdlib=libc++"
  cxx_flag: "-fvisibility-inlines-hidden"
  cxx_flag: "-std=c++14"
  cxx_flag: "-fmessage-length=0"
  linker_flag: "-Wl,-pie"
  linker_flag: "-headerpad_max_install_names"
  linker_flag: "-Wl,-dead_strip_dylibs"
  linker_flag: "-undefined"
  linker_flag: "dynamic_lookup"
  linker_flag: "-force_load"
  linker_flag: "${BUILD_PREFIX}/lib/libc++.a"
  linker_flag: "-force_load"
  linker_flag: "${BUILD_PREFIX}/lib/libc++abi.a"
  linker_flag: "-nostdlib"
  linker_flag: "-lc"
  linker_flag: "-isysroot${CONDA_BUILD_SYSROOT}"
  cxx_builtin_include_directory: "${PREFIX}/include/c++/v1"
  cxx_builtin_include_directory: "${PREFIX}/lib/clang/10.0.0/include"
  cxx_builtin_include_directory: "${CONDA_BUILD_SYSROOT}/usr/include"
  cxx_builtin_include_directory: "${CONDA_BUILD_SYSROOT}/System/Library/Frameworks"
  objcopy_embed_flag: "-I"
  objcopy_embed_flag: "binary"
  unfiltered_cxx_flag: "-no-canonical-prefixes"
  unfiltered_cxx_flag: "-Wno-builtin-macro-redefined"
  unfiltered_cxx_flag: "-D__DATE__=\"redacted\""
  unfiltered_cxx_flag: "-D__TIMESTAMP__=\"redacted\""
  unfiltered_cxx_flag: "-D__TIME__=\"redacted\""
  compiler_flag: "-march=core2"
  compiler_flag: "-mtune=haswell"
  compiler_flag: "-mssse3"
  compiler_flag: "-ftree-vectorize"
  compiler_flag: "-fPIC"
  compiler_flag: "-fPIE"
  compiler_flag: "-fstack-protector-strong"
  compiler_flag: "-O2"
  compiler_flag: "-pipe"
  tool_path {name: "ld" path: "${LD}" }
  tool_path {name: "cpp" path: "/usr/bin/cpp" }
  tool_path {name: "dwp" path: "/usr/bin/dwp" }
  tool_path {name: "gcov" path: "/usr/bin/gcov" }
  tool_path {name: "nm" path: "${NM}" }
  tool_path {name: "objcopy" path: "/usr/bin/objcopy" }
  tool_path {name: "objdump" path: "/usr/bin/objdump" }
  tool_path {name: "strip" path: "${STRIP}" }
  tool_path {name: "gcc" path: "cc_wrapper.sh" }
  tool_path {name: "ar" path: "${LIBTOOL}" }

  compilation_mode_flags {
    mode: DBG
    compiler_flag: "-g"
  }
  compilation_mode_flags {
    mode: OPT
    compiler_flag: "-g0"
    compiler_flag: "-O2"
    compiler_flag: "-D_FORTIFY_SOURCE=1"
    compiler_flag: "-DNDEBUG"
    compiler_flag: "-ffunction-sections"
    compiler_flag: "-fdata-sections"
  }
  linking_mode_flags { mode: DYNAMIC }
}
