@use '../../styles/variables' as variables;
@use '../../styles/extends';

.kui-theme--light {
  --color-bg: #{variables.$white-400};
  --color-highlight: #{variables.$white-200};
}

.kui-theme--dark {
  --color-bg: #{variables.$slate-700};
  --color-highlight: #{variables.$slate-400};
}

.preview-table__header {
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  padding-bottom: 12px;
}

.preview-table__data {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  padding-bottom: 8px;
}

.preview-table__small {
  margin: 30px 32px;

  .preview-table__header,
  .preview-table__data {
    text-align: left;
    padding-right: 32px;
  }
}

.preview-table__large {
  margin: auto 30px 30px auto;

  .preview-table__header,
  .preview-table__data {
    padding: 12px 42px 12px 22px;
    text-align: left;
  }

  .preview-table__row-header {
    background: var(--color-bg);
    position: sticky;
    top: 0;
    z-index: 1;
  }

  .preview-table__row:hover,
  .preview-table__header:hover,
  .preview-table__data-hovered {
    background: var(--color-highlight);
  }
}

.preview-table__row:hover,
.preview-table__header:hover {
  cursor: pointer;
}

.preview-table__header,
.preview-table__data {
  position: relative;
  outline: 0;
}
