mesa-libGL
mesa-dri-drivers
libselinux
libXdamage
libXfixes
libXxf86vm
libxcb
libXft
expat
xorg-x11-proto
pam-devel
xorg-x11-server-Xvfb
xorg-x11-server-Xorg
libXcomposite
libXcursor
libXScrnSaver
pciutils
