
requirements:
  build: 
    - {{ cdt('mesa-libgl-devel') }}  
    - {{ cdt('mesa-dri-drivers') }}  
    - {{ cdt('libselinux') }}      
    - {{ cdt('libxdamage') }} 
    - {{ cdt('libxxf86vm') }} 
  host:
    - xorg-libxfixes  

