attrs==23.2.0
bandit==1.7.6
black==23.12.1
certifi==2023.11.17
charset-normalizer==3.3.2
click==8.1.7
click-plugins==1.1.1
cligj==0.7.2
colorama==0.4.6
contourpy==1.2.0
cycler==0.12.1
fiona==1.9.5
fonttools==4.47.0
geopandas==0.14.2
gitdb==4.0.11
GitPython==3.1.41
idna==3.6
importlib-metadata==7.0.1
importlib-resources==6.1.1
isort==5.13.2
kiwisolver==1.4.5
mando==0.7.1
markdown-it-py==3.0.0
matplotlib==3.8.2
mdurl==0.1.2
mypy-extensions==1.0.0
numpy==1.26.3
packaging==23.2
pandas==2.1.4
pathspec==0.12.1
pbr==6.0.0
pillow==10.2.0
platformdirs==4.1.0
Pygments==2.17.2
pyparsing==3.1.1
pyproj==3.6.1
python-dateutil==2.8.2
pytz==2023.3.post1
PyYAML==6.0.1
radon==6.0.1
requests==2.31.0
rich==13.7.0
shapely==2.0.2
six==1.16.0
smmap==5.0.1
stevedore==5.1.0
toml==0.10.2
tomli==2.0.1
typing_extensions==4.9.0
tzdata==2023.4
urllib3==2.1.0
vulture==2.10
zipp==3.17.0
