@use '../../../styles/variables' as variables;

.container {
  position: relative;
  display: flex;
}

.command-value {
  display: flex;
  flex-grow: 1;
  align-items: center;
  font-family: variables.$font-monospace;
  font-size: 13px;

  &--no-visible {
    opacity: 0;
  }
}

.copy-message {
  position: absolute;
  left: 0;
  padding-top: 4px;

  &--no-visible {
    display: none;
  }
}

.toolbox {
  display: block;
  width: 26px;
  height: 34px;
  margin: -0.1em 0 0 auto;
  padding: 0;
  list-style: none;
}

.copy-button {
  width: auto;
  height: auto;
  margin-top: 0.3em;
  margin-right: -0.6em;
  opacity: 0.55;

  .pipeline-icon {
    width: 26px;
    height: 26px;
  }

  &:hover {
    opacity: 1;
  }

  &:active {
    transform: translateY(1px);
    opacity: 0.85;
  }
}
