# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
sdist/
*.egg-info/
*.egg

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# Pyre type checker
.pyre/
*.bin
*.cue
*.out
# conda smithy ci-skeleton start
*.pyc

build_artifacts
# conda smithy ci-skeleton end
