@use '../../styles/variables' as variables;

$sidebar-toolbar-width-closed: variables.$sidebar-width-closed +
  variables.$global-toolbar-width;
$sidebar-toolbar-width-open: variables.$sidebar-width-open +
  variables.$global-toolbar-width;

.pipeline-wrapper {
  height: 100%;
}

.pipeline-wrapper__loading {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  pointer-events: none;
  position: absolute;
  top: 0;
  transform: translateX($sidebar-toolbar-width-closed);
  transition: transform 0.4s ease, width ease 0.4s;
  width: calc((100% - #{$sidebar-toolbar-width-closed}));

  @media (min-width: variables.$sidebar-width-breakpoint) {
    &--sidebar-visible {
      transform: translateX($sidebar-toolbar-width-open);
      width: calc((100% - #{$sidebar-toolbar-width-open}));
    }
  }
}

.pipeline-wrapper__go-back-btn {
  display: flex;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  position: relative;
  z-index: 3;

  .button button {
    background-color: variables.$yellow-300;
    border-radius: 40px;
    border: none;
    color: black;
    width: 300px;
  }
}

.pipeline-wrapper__go-back-btn--show {
  opacity: 1;
  pointer-events: all;
  transform: translate(0, -140%);
  transition: transform 0.6s ease, opacity 0.4s ease-in-out;

  .button button {
    align-items: center;
    background-color: variables.$yellow-300;
    border-radius: 40px;
    border: none;
    color: black;
    column-gap: 10px;
    display: flex;
    justify-content: center;
    padding: 8px 8px 8px 0;
    width: 300px;
  }
}

.pipeline-wrapper__go-back-btn--show-sidebar-visible {
  @media (min-width: variables.$sidebar-width-breakpoint) {
    transform: translate(50px, -140%);
  }
}

.pipeline-wrapper__go-back-btn--show-metadata-visible {
  @media (min-width: variables.$sidebar-width-breakpoint) {
    transform: translate(-50px, -140%);
  }
}
