// Styles that don't get included in the exported package:
body {
  margin: 0;
}

.kedro-pipeline {
  height: 100vh;
}

// Override the 10px base font-size, so that users who have
// customized the default base font-size in their browser will see
// the font-sizes adjusted accordingly. See
// https://www.24a11y.com/2019/pixels-vs-relative-units-in-css-why-its-still-a-big-deal/
.kedro {
  font-size: 0.625rem;
}
