# Terraform
*.tfstate*
.terraform*
backend.tf
terraform.tfvars
terraform.tfplan
values-*.yaml

# Ignore override files as they are usually used to override resources locally and so are not checked in
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Crash log files
crash.log

# macOS
.DS_Store

# IntelliJ & Pycharm
.idea
*.iml

# Logging
nohup.out
