$animation-timing: 0.3s;

// Animation for the first run when switching the comparison view.
.details-dataset__value,
.details-dataset__value-header,
.details-metadata__run {
  transform: translateX(0%);
  transition: transform $animation-timing ease-out;
}

.details-dataset__value-header--comparison-view,
.details-dataset__value--comparison-view,
.details-metadata__run--first-run-comparison-view {
  transform: translateX(-25%);
  transition: transform $animation-timing ease-out;
}

// To transition the metadata and dataset panel to the left
// when switch to comparison view.
.details-dataset__accordion-wrapper-comparison-view,
.details-metadata__table-comparison-view {
  transform: translateX(-4em);
  transition: transform $animation-timing ease-out;
}

.details-metadata__labels .details-metadata__title {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 0.1s ease-in-out;
}

.details-metadata__labels-comparison-view .details-metadata__title {
  opacity: 0;
  pointer-events: none;
  transform: translateX(-25%);
  transition: opacity 0.1s ease-in-out, transform 1s ease-in-out;
}

.details-metadata__run--first-run .details-metadata__title {
  opacity: 0;
}

.details-metadata__run--first-run-comparison-view .details-metadata__title {
  opacity: 1;
  transition: opacity $animation-timing linear;
}

// Animation for other run when selected or deselected.
// Needed to use react-cssTransition to animate when the run isn't in the DOM anymore.
.details-metadata__run-animation-enter,
.details-dataset__value-animation-enter {
  opacity: 0;
  transform: translateX(40%);
  transition: transform $animation-timing ease-out,
    opacity $animation-timing linear;
}

.details-metadata__run-animation-enter-active,
.details-dataset__value-animation-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: transform $animation-timing ease-out,
    opacity $animation-timing linear;
}

.details-metadata__run-animation-exit,
.details-dataset__value-animation-exit {
  opacity: 1;
  transition: opacity $animation-timing linear;
}

.details-metadata__run-animation-exit-active,
.details-dataset__value-animation-exit-active {
  opacity: 0;
  transition: opacity $animation-timing linear;
}
