@use '../../../styles/extends';
@use '../../../styles/variables' as variables;

.details-metadata {
  background-color: var(--color-exp-tracking-metadata);
  display: flex;
  flex-shrink: 0;
  min-height: 350px;
  min-width: 100%;
  padding: 5em 0 0 9em;

  &--not-overview {
    background-color: var(--color-exp-tracking-bg);
    min-height: auto;
  }
}

.details-metadata__buttons {
  display: flex;
  list-style: none;
  margin: -2px 0 0;
  padding: 0;

  li,
  .hidden-menu-wrapper {
    margin-right: 5px;
    position: relative;

    &:last-of-type:not(.hidden-menu-wrapper) {
      margin-right: 0;
    }
  }

  .pipeline-icon-toolbar__button {
    height: 24px;
    width: 24px;
  }

  svg {
    height: 25px;
    width: 25px;
  }
}

.details-metadata__buttons--selected-pin svg {
  fill: variables.$blue-300;
}

// a single run when it's not in comparison mode
.details-metadata__run {
  flex-shrink: 0;
  margin-right: 12em;
  max-width: variables.$run-width;
}

.details-metadata__labels,
.details-metadata__labels-comparison-view,
.details-metadata__run--first-run-comparison-view {
  margin-right: 0;
}

.details-metadata__labels {
  width: variables.$run-width;
}

.details-metadata__labels-comparison-view {
  width: variables.$run-width-comparison-view;
}

.details-metadata__run td {
  font-size: 1.4em;
  padding-bottom: 16px;
  vertical-align: top;
  word-wrap: break-word; // For breaking potential long text, such as as git branch, title, etc.
}

// a single run when comparison view is on
.details-metadata__run--first-run-comparison-view {
  .details-metadata__table-label,
  .details-metadata__table-value {
    width: variables.$run-width-comparison-view;
  }
}

.details-metadata__run--first-run-comparison-view td {
  &:first-of-type {
    width: 100%;
  }

  &:last-of-type {
    width: 100%;
  }
}

.details-metadata__table tr {
  display: flex;
  flex-direction: column;
  width: variables.$run-width;
}

.details-metadata__table-comparison-view tr {
  display: flex;
  flex-direction: column;
  width: variables.$run-width-comparison-view;
}

.details-metadata__run--wrapper {
  display: flex;
}

.details-metadata__run--wrapper tr {
  &:first-of-type {
    margin-right: 5em;
  }

  &:last-of-type {
    margin-right: 0;
  }
}

// animation for the title of the baseline when comparison mode is on
.details-metadata__title {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.details-metadata__title--empty {
  width: 365px;
}

.details-metadata__table {
  display: flex;
  border-collapse: collapse;
  flex-shrink: 0;
  width: 100%;
  margin-left: -1px; // For exact alignment with content below.
}

.details-metadata__title-detail {
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
  overflow: hidden;
  text-decoration-color: transparent;
  text-overflow: ellipsis;
  transition: text-decoration-color 0.2s ease;
  white-space: nowrap;

  &:hover {
    text-decoration: underline;
    text-decoration-color: var(--color-text);
  }
}

.details-metadata__indicator {
  margin-right: 1em;

  &--selected-first {
    @extend %runs-list-card--selected-first;

    border-style: solid;
    flex-shrink: 0;
  }

  &--selected-second {
    @extend %runs-list-card--selected-second;

    border-style: solid;
    flex-shrink: 0;
  }

  &--selected-third {
    @extend %runs-list-card--selected-third;

    flex-shrink: 0;
  }
}

.details-metadata__title .pipeline-toolbar__label {
  font-size: 1em;
}

.details-metadata__notes {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  cursor: pointer;
  display: -webkit-box;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration-color: transparent;
  transition: text-decoration-color 0.2s ease;

  &:hover {
    text-decoration: underline;
    text-decoration-color: var(--color-text);
  }
}

.details-metadata__show-more.kedro {
  background-color: unset;
  border: none;
  color: var(--color-text-faded);
  cursor: pointer;
  font-size: 14px;
  margin: 2px 0 0;
  padding: 0;
}

.hidden-menu {
  background: variables.$white-200;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  transition: opacity 0.1s ease, top 0.2s ease;
  width: 120px;

  &--visible {
    opacity: 1;
    pointer-events: all;
    top: 30px;
  }
}

.hidden-menu__item {
  color: variables.$black-800;
  cursor: pointer;
  padding: 6px 0 6px 20px;

  &:hover {
    background: variables.$white-0;
  }
}

.details-metadata__run-lazy-loader {
  max-height: 300px;
}
