<div *ngIf="isLoading$ | async" class="loading-overlay">
  <mat-spinner></mat-spinner>
</div>
<div class="app-header">
  <mat-toolbar>
    <button
      #tooltip="matTooltip"
      [matMenuTriggerFor]="sortByMenu"
      aria-label="Sort by"
      mat-icon-button
      matTooltip="Sort by"
      matTooltipPosition="below"
    >
      <mat-icon>sort</mat-icon>
    </button>
    <button
      #tooltip="matTooltip"
      (click)="onFilterClicked()"
      aria-label="Filter"
      mat-icon-button
      matTooltip="Filter"
      matTooltipPosition="below"
    >
      <mat-icon>search</mat-icon>
    </button>
  </mat-toolbar>
</div>
<div *ngIf="response" class="app-img-grid">
  <img
    *ngFor="let molecule of response.contents"
    [alt]="molecule.smiles"
    [src]="BASE_API_URL + molecule._links.img"
  />
</div>
<app-paginator
  (first)="onPageChanged(response?._links?.first)"
  (last)="onPageChanged(response?._links?.last)"
  (next)="onPageChanged(response?._links?.next)"
  (prev)="onPageChanged(response?._links?.prev)"
  [enableFirst]="response?._links?.first != undefined"
  [enableLast]="response?._links?.last != undefined"
  [enableNext]="response?._links?.next != undefined"
  [enablePrev]="response?._links?.prev != undefined"
></app-paginator>
<mat-menu #sortByMenu="matMenu">
  <button (click)="onSort(undefined, undefined)" mat-menu-item>
    <span>None</span>
  </button>
  <mat-divider></mat-divider>
  <button (click)="onSort('n_heavy', 'desc')" mat-menu-item>
    <span>N Atoms: Largest to Smallest</span>
  </button>
  <button (click)="onSort('n_heavy', 'asc')" mat-menu-item>
    <span>N Atoms: Smallest to Largest</span>
  </button>
  <mat-divider></mat-divider>
  <button (click)="onSort('weight', 'desc')" mat-menu-item>
    <span>Mol. Weight: Largest to Smallest</span>
  </button>
  <button (click)="onSort('weight', 'asc')" mat-menu-item>
    <span>Mol. Weight: Smallest to Largest</span>
  </button>
</mat-menu>
