<div mat-dialog-content>
  <form (ngSubmit)="onSubmit()" [formGroup]="filterForm" autocomplete="off">
    <!--  fake fields are a workaround for chrome/opera autofill getting the wrong fields -->
    <input
      id="username"
      name="fakeusernameremembered"
      style="display: none"
      type="text"
    />
    <input
      id="password"
      name="fakepasswordremembered"
      style="display: none"
      type="password"
    />
    <mat-form-field appearance="standard">
      <mat-label>SMARTS</mat-label>
      <input autocomplete="off" formControlName="smarts" matInput type="text" />
      <mat-error *ngIf="filterForm.get('smarts')?.errors">{{
        getSubstructureErrorMessage()
      }}</mat-error>
    </mat-form-field>
    <div class="inline-fields">
      <mat-form-field appearance="standard">
        <mat-label>Minimum N Heavy</mat-label>
        <input autocomplete="off" formControlName="nHeavyMin" matInput />
        <mat-error *ngIf="filterForm.get('nHeavyMin')?.errors">{{
          getIntegerErrorMessage(filterForm.get("nHeavyMin"))
        }}</mat-error>
      </mat-form-field>
      <mat-form-field appearance="standard">
        <mat-label>Maximum N Heavy</mat-label>
        <input autocomplete="off" formControlName="nHeavyMax" matInput />
        <mat-error *ngIf="filterForm.get('nHeavyMax')?.errors">{{
          getIntegerErrorMessage(filterForm.get("nHeavyMax"))
        }}</mat-error>
      </mat-form-field>
    </div>

    <mat-dialog-actions>
      <button mat-button type="submit">Filter</button>
    </mat-dialog-actions>
  </form>
</div>
