<div class="paginator-outer-container">
  <button
    (click)="first.emit($event)"
    [disabled]="!enableFirst"
    [matTooltipDisabled]="!enableFirst"
    aria-label="First page"
    class="mat-paginator-navigation-first"
    mat-icon-button
    matTooltip="First page"
    matTooltipPosition="above"
    type="button"
  >
    <svg class="mat-paginator-icon" focusable="false" viewBox="0 0 24 24">
      <path d="M18.41 16.59L13.82 12l4.59-4.59L17 6l-6 6 6 6zM6 6h2v12H6z" />
    </svg>
  </button>
  <button
    (click)="prev.emit($event)"
    [disabled]="!enablePrev"
    [matTooltipDisabled]="!enablePrev"
    aria-label="Previous page"
    class="mat-paginator-navigation-previous"
    mat-icon-button
    matTooltip="Previous page"
    matTooltipPosition="above"
    type="button"
  >
    <svg class="mat-paginator-icon" focusable="false" viewBox="0 0 24 24">
      <path d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12z" />
    </svg>
  </button>
  <button
    (click)="next.emit($event)"
    [disabled]="!enableNext"
    [matTooltipDisabled]="!enableNext"
    aria-label="Next page"
    class="mat-paginator-navigation-next"
    mat-icon-button
    matTooltip="Next page"
    matTooltipPosition="above"
    type="button"
  >
    <svg class="mat-paginator-icon" focusable="false" viewBox="0 0 24 24">
      <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" />
    </svg>
  </button>
  <button
    (click)="last.emit($event)"
    [disabled]="!enableLast"
    [matTooltipDisabled]="!enableLast"
    aria-label="Last page"
    class="mat-paginator-navigation-last"
    mat-icon-button
    matTooltip="Last page"
    matTooltipPosition="above"
    type="button"
  >
    <svg class="mat-paginator-icon" focusable="false" viewBox="0 0 24 24">
      <path d="M5.59 7.41L10.18 12l-4.59 4.59L7 18l6-6-6-6zM16 6h2v12h-2z" />
    </svg>
  </button>
</div>
