@use "@angular/material" as mat;

.paginator-outer-container {
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: center;
}

.paginator-outer-container {
  .mat-icon-button:disabled {
    svg {
      fill: #ffdede;
    }
  }
}
