@use '../../styles/extends';
@use '../../styles/variables' as variables;

.pipeline-global-toolbar {
  background: var(--color-global-toolbar-background);
  border-right: 1px solid var(--color-border-line);
  display: flex;
  flex-direction: column;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: variables.$global-toolbar-width;
  z-index: 5;
}

.pipeline-global-routes-toolbar {
  @extend %listReset;
}

.pipeline-global-control-toolbar {
  @extend %listReset;

  margin-top: auto;
}

.pipeline-menu-button--large {
  height: variables.$global-toolbar-width;
  width: variables.$global-toolbar-width;
}

.pipeline-menu-button--link {
  &:hover {
    background-color: var(--color-bg-2);
    border-right: 1px solid var(--color-border-line);
  }
}

.pipeline-menu-button--logo {
  margin-bottom: 40px;

  svg {
    height: 2.9em;
    opacity: 1;
    width: 2.9em;
  }
}

.pipeline-global-routes-toolbar a.active .pipeline-menu-button--link {
  background-color: var(--color-global-toolbar-active-btn);
  border-right: 1px solid var(--color-border-line);
}

.pipeline-global-routes-toolbar a.active .pipeline-menu-button--link svg {
  opacity: 1;
}

.update-reminder-dot {
  background-color: variables.$yellow-300;
  border-radius: 50%;
  height: 8px;
  position: absolute;
  right: 28px;
  top: 31px;
  width: 8px;
}
