@use '../../../styles/variables' as colors;

.time-series {
  flex: 1 1 auto;
  font-family: Inter, sans-serif;
  margin: 0 4em 0 0;

  > svg:last-of-type {
    margin-bottom: 5em;
  }
}

.time-series .text {
  font-size: 12px;
}

.time-series__metric-name {
  font-size: 1.4em;
  color: var(--color-metrics-plot-text-bold);
  line-height: 20px;
}

.time-series__axis-label {
  fill: var(--color-metrics-plot-axis-ends);
  font-size: 12px;
  transform: rotate(-90deg);
}

.time-series__metric-line {
  fill: none;
  stroke: var(--color-metrics-plot-time-series-metric-line);

  &--blend {
    stroke-opacity: 0.4;
  }
}

.time-series__run-line {
  cursor: pointer;
  stroke: var(--color-metrics-plot-time-series-run-line);

  &--hovered {
    stroke: var(--color-metrics-plot-time-series-run-line-hovered);
  }

  &--blend {
    stroke-opacity: 0.55;
  }

  &--selected-0 {
    stroke: colors.$purple-300;
  }

  &--selected-1 {
    stroke: colors.$yellow-300;
  }

  &--selected-2 {
    stroke: colors.$green-300;
  }
}

.time-series__marker {
  &--selected-0 {
    fill: transparent;
    stroke: colors.$purple-300;
  }

  &--selected-1 {
    fill: transparent;
    stroke: colors.$yellow-0;
  }

  &--selected-2 {
    fill: transparent;
    stroke: colors.$green-0;
  }
}

.time-series {
  .tick text {
    fill: var(--color-metrics-plot-axis-ends);
    font-size: 12px;
  }

  .tick line {
    stroke: var(--color-metrics-plot-time-series-axis);
  }
}

.time-series__metric-axis .tick,
.time-series__metric-axis-dual .tick {
  opacity: 0;
}

.time-series__metric-axis {
  .tick:nth-last-child(2) {
    opacity: 1;
  }

  .tick:nth-child(3) {
    opacity: 1;
  }
}

.time-series__trend-line {
  stroke: var(--color-metrics-plot-time-series-dotted-line);
  stroke-dasharray: 4;
  fill: none;
}

.time-series__hovered-line {
  stroke: var(--color-metrics-plot-time-series-dotted-line);
  stroke-dasharray: 4;
}

.time-series__tick-line {
  stroke: var(--color-metrics-plot-time-series-run-line-hovered);
}

.time-series__tick-text {
  fill: var(--color-metrics-plot-axis-ends);
  font-size: 12px;
  text-anchor: end;
  transform: translate(-10px, -4px);
}

.time-series__brush .selection {
  fill: colors.$ocean-600;
  fill-opacity: 0.4;
}
