alsa-lib
libXScrnSaver
libXtst
libXi
libXcursor
libXcomposite
mesa-libGL
mesa-dri-drivers
libselinux
libXdamage
libXxf86vm
libXext
libX11-devel
libXt-devel
libXext-devel
chrpath
libXrender-devel
gtk2-devel
dbus-devel
libSM-devel
libICE-devel
xorg-x11-server-Xvfb
ruby
