@use './variables' as variables;

%tooltip {
  color: var(--color-text-alt);
  background: var(--color-bg-alt);
  box-shadow: 0 1px 3px variables.$slate-500;
}

%sidebar {
  background: var(--color-sidebar-background);
  border-bottom: 1px solid var(--color-sidebar-border);
  border-right: 1px solid var(--color-border-line);
}

%button {
  padding: 0;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  background: none;
  border: none;
  box-shadow: none;
  cursor: pointer;

  &:focus {
    outline: none;

    [data-whatintent='keyboard'] & {
      box-shadow: 0 0 0 3px variables.$blue-300 inset;
    }
  }
}

%listReset {
  display: block;
  list-style: none;
  margin: 0;
  padding: 1em 0;
}

%input {
  background-color: unset;
  border: none;
  color: var(--color-text);
  cursor: pointer;
  font-family: inherit;
  text-decoration-color: transparent;
  transition: text-decoration-color 0.2s ease;
  width: 100%;

  &:focus-visible {
    outline: none;
    text-decoration: underline;
    text-decoration-color: variables.$blue-300;
  }

  &::placeholder {
    color: var(--color-text);
  }
}

%input--large {
  font-size: 18px;
  font-weight: 600;
}

%input--small {
  font-size: 14px;
  font-weight: normal;
}

%runs-list-card--default {
  border: 1px solid variables.$grey-500;
  height: 10px;
  margin: 0.8em 0.8em 0 0;
  width: 10px;
}

%runs-list-card--selected-first {
  border-color: variables.$purple-300;
  border-width: 2px;
  height: 10px;
  transform: rotate(45deg);
  width: 10px;
}

%runs-list-card--selected-second {
  border-color: variables.$yellow-300;
  border-width: 2px;
  border-radius: 50%;
  height: 10px;
  width: 10px;
}

%runs-list-card--selected-third {
  background:
    /* left */ linear-gradient(
        to bottom left,
        transparent 49.5%,
        variables.$green-300 50% calc(50% + 1px),
        transparent calc(50% + 2px)
      )
      right/50% 100%,
    /* right */
      linear-gradient(
        to bottom right,
        transparent 49.5%,
        variables.$green-300 50% calc(50% + 1px),
        transparent calc(50% + 2px)
      )
      left/50% 100%,
    /* bottom*/ linear-gradient(variables.$green-300, variables.$green-300)
      bottom/calc(100%) 1px;
  background-repeat: no-repeat;
  border: none;
  height: 10px;
  width: 10px;
}
