/*
The below colours are defined based on the Kedro-viz style guide which can be found  
in the Style Guide docs under 'Theme Colours' 
*/

// -- Fonts -- //

$font-monospace: ui-monospace, sfmono-regular, sf mono, menlo, consolas,
  liberation mono, monospace;

// -- Layout -- //

$sidebar-padding: 1.8em;

// These values are used in both SCSS and JS, and we don't have variable-sharing
// across Sass and JavaScript, so they're defined in two places. If you update their
// value here, please also update their corresponding value in src/config.js
$sidebar-width-open: 400px;
$sidebar-width-closed: 56px;
$sidebar-width-breakpoint: 700px;
$metadata-sidebar-width-open: 400px;
$metadata-sidebar-width-closed: 0;
$metadata-sidebar-code-open: 480px;
$metadata-sidebar-code-closed: 0;
$metadata-sidebar-code-breakpoint: 1200px;
$metadata-modal-breakpoint: 700px;
$global-toolbar-width: 80px;
$run-list-controls-height: 95px;

// Micro-animation
$run-width: 375px;
$run-width-comparison-view: 310px;

// -- Theme colours as SCSS variables -- //

// -- Primary -- //
$black-0: #989898;
$black-100: #868686;
$black-200: #747474;
$black-300: #636363;
$black-400: #525252;
$black-500: #424242;
$black-600: #323232;
$black-700: #242424;
$black-800: #151515;
$black-850: #090909;
$black-900: #000;
$slate-0: #2b2d2f;
$slate-100: #27282a;
$slate-200: #242526;
$slate-300: #212324;
$slate-400: #1e1f21;
$slate-500: #1c1e1f;
$slate-600: #18191b;
$slate-700: #141516;
$slate-800: #101112;
$slate-900: #0f0f11;
$white-0: #fff;
$white-100: #f9f9fa;
$white-200: #f2f3f4;
$white-300: #ecedef;
$white-400: #e6e7e9;
$white-500: #dfe2e4;
$white-600: #d9dcde;
$white-700: #d3d6d9;
$white-800: #ccd0d3;
$white-900: #c6cace;

// -- Secondary -- //
$grey-0: #fdfdfd;
$grey-100: #eaebed;
$grey-200: #d5d8da;
$grey-300: #c0c5c9;
$grey-400: #abb2b7;
$grey-500: #97a0a6;
$grey-600: #848e95;
$grey-700: #717d84;
$grey-800: #5e6c74;
$grey-900: #4c5b64;
$ocean-0: #acccda;
$ocean-100: #97bac9;
$ocean-200: #82a8b8;
$ocean-300: #598395;
$ocean-400: #2f5f73;
$ocean-500: #063b51;
$ocean-600: #052f41;
$ocean-700: #042331;
$ocean-800: #021820;
$ocean-900: #021218;

// -- Accents -- //
$blue-0: #00e3ff;
$blue-300: #00bcff;
$blue-600: #0084b2;
$blue-900: #005c7d;
$green-0: #3bff95;
$green-300: #31e27b;
$green-600: #229e56;
$green-900: #186f3c;
$purple-0: #da11ff;
$purple-300: #a000bc;
$purple-600: #700084;
$purple-900: #4e005c;
$yellow-0: #ffe300;
$yellow-300: #ffbc00;
$yellow-600: #b28400;
$yellow-900: #7d5c00;
