@use '../../styles/variables' as variables;

.pipeline-json__object {
  margin-bottom: 1.2em;

  // negative margin to override the margin applied from the parent "pipeline-metadata__row"
  margin-right: -35px;
  margin-top: 1.2em;

  .pretty-json-container {
    font-family: variables.$font-monospace;
    font-size: 0.87em;
  }

  .variable-row,
  .object-key-val {
    border-left: none !important;
  }
}
