alabaster
cachetools
dash
dash-bootstrap-components
dash-core-components
dash-html-components
mpi4py
nbsphinx
numpy
pandas
plotly >=4.14.0
pytest
pyvtk
recommonmark
scipy
shapely
sphinx
sphinx_rtd_theme
termcolor
unittest2

