@use '../../styles/variables' as variables;
@use '../../styles/extends';

.kui-theme--light {
  --color-bg-plot: #{variables.$white-400};
  --color-button-plot: #{variables.$blue-900};
  --color-button-plot-hovered: #{variables.$blue-600};
  --color-button-text: #{variables.$white-0};
}

.kui-theme--dark {
  --color-bg-plot: #{variables.$slate-700};
  --color-button-plot: #{variables.$blue-900};
  --color-button-plot-hovered: #{variables.$blue-600};
  --color-button-text: #{variables.$white-0};
}

.pipeline-metadata-modal {
  position: absolute;
  inset: 0 0 0 variables.$global-toolbar-width;
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  height: 100%; /* Full height (cover the whole page) */

  /* We don't need full width as sometime the preview table can take up more than a width of the page */
  background-color: var(--color-bg-plot);

  .pipeline-plotly-chart,
  .pipeline-matplotlib-chart {
    width: calc(98% - 80px - #{variables.$global-toolbar-width});
    height: calc(92% - 80px);
    margin: auto;
  }
}

.pipeline-metadata-modal__top {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  min-width: 100%;
  padding: 1.5em;
}

.pipeline-metadata-modal__header {
  display: flex;
  margin: 0 auto;
  padding: 0 32px;
}

.pipeline-metadata-modal__icon {
  display: inline-block;
  width: 2.9em;
  height: 2.8em;
  margin: 0 10px 0 0;
  fill: var(--color-text);
}

.pipeline-metadata-modal__title {
  margin-top: 1px;
  font-size: 1.8em;
}

.pipeline-metadata-modal__back {
  @extend %button;

  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 6px 12px;
}

.pipeline-metadata-modal__back-text {
  font-size: 1.6em;
}

.pipeline-metadata-modal__back-icon {
  width: 1.9em;
  height: 1.9em;
  margin: 0 12px 0 0;
  fill: var(--color-text);
}

.pipeline-metadata-modal__preview-text {
  font-size: 14px;
  margin-right: 80px;
}

.pipeline-metadata-modal__bottom {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-grow: 0;
  flex-shrink: 0;
  align-content: center;
  align-items: center;
  justify-content: flex-end;
  min-width: 100%;
}

.pipeline-metadata-modal__collapse-plot {
  @extend %button;

  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: flex-end;
  width: variables.$metadata-sidebar-width-open;
  background-color: var(--color-button-plot);

  &:hover {
    background-color: var(--color-button-plot-hovered);
  }
}

.pipeline-metadata-modal__preview {
  max-width: calc(100vw - #{variables.$global-toolbar-width});
  overflow-y: auto;
  padding: 0 1.5em;
  margin: 1.5em 0;
}

.pipeline-metadata-modal__collapse-plot-icon {
  width: 1.9em;
  height: 1.9em;
  margin: 0 6px -0.1em 36px;
  fill: var(--color-button-text);
}

.pipeline-metadata-modal__collapse-plot-text {
  margin: 12px 10px 12px 5px;
  color: var(--color-button-text);
  font-size: 1.6em;
}

@media (max-width: variables.$metadata-modal-breakpoint) {
  .pipeline-metadata-modal__collapse-plot {
    width: auto;
  }

  .pipeline-metadata-modal__collapse-plot-text {
    display: none;
  }

  .pipeline-metadata-modal__collapse-plot-icon {
    margin: 10px;
  }
}
