@use '../../../styles/variables' as colors;
@use './variables';

%nolist {
  margin: 0;
  padding: 0;
  list-style: none;
}

.pipeline-nodelist__list {
  @extend %nolist;

  &--nested {
    margin: 0 0 1.2em;
  }

  .pipeline-nodelist__children {
    // Avoid placeholder fade leaking out for small lists
    overflow: hidden;

    &--closed {
      display: none;
    }
  }
}

$placeholder-fade: 120px;

.pipeline-nodelist__placeholder-upper,
.pipeline-nodelist__placeholder-lower {
  z-index: 2;
  pointer-events: none;
}

.pipeline-nodelist__placeholder-upper::after,
.pipeline-nodelist__placeholder-lower::after {
  position: absolute;
  width: 100%;
  height: $placeholder-fade;
  opacity: 0;
  transition: opacity ease 0.3s;
  content: ' ';
  pointer-events: none;
}

// Add fade overlay at the lazy list boundaries visible during scroll
.pipeline-nodelist__filter-panel {
  .pipeline-nodelist__placeholder-upper::after {
    bottom: -$placeholder-fade;
    background: linear-gradient(
      0deg,
      var(--color-nodelist-bg-filter-transparent) 0%,
      var(--color-nodelist-filter-panel) 100%
    );
  }

  .pipeline-nodelist__placeholder-lower::after {
    top: -$placeholder-fade;
    background: linear-gradient(
      0deg,
      var(--color-nodelist-filter-panel) 0%,
      var(--color-nodelist-bg-filter-transparent) 100%
    );
  }
}

.pipeline-nodelist__placeholder-upper--fade::after,
.pipeline-nodelist__placeholder-lower--fade::after {
  opacity: 1;
}

.pipeline-nodelist__heading {
  position: sticky;
  top: 0;
  z-index: 1;
  margin: 0;

  // Avoid pixel gap above when scrolling.
  transform: translateY(-1px);

  .pipeline-nodelist__row__text {
    position: relative;
    opacity: 0.65;
  }

  .pipeline-nodelist__row__text .pipeline-nodelist__row__label {
    font-size: 1.3em;
  }
}

.pipeline-nodelist__elements-panel .pipeline-nodelist__heading {
  background: var(--color-nodelist-element-panel);

  &::after {
    position: absolute;
    bottom: -19px;
    z-index: -1;
    width: 100%;
    height: 20px;
    background: linear-gradient(
      0deg,
      var(--color-nodelist-bg-transparent) 0%,
      var(--color-nodelist-element-panel) 100%
    );
    transition: opacity ease 0.3s;
    content: ' ';
    pointer-events: none;
  }
}

.pipeline-nodelist__filter-panel .pipeline-nodelist__heading {
  background: var(--color-nodelist-filter-panel);

  &::after {
    position: absolute;
    bottom: -19px;
    z-index: -1;
    width: 100%;
    height: 20px;
    background: linear-gradient(
      0deg,
      var(--color-nodelist-bg-transparent) 0%,
      var(--color-nodelist-filter-panel) 100%
    );
    transition: opacity ease 0.3s;
    content: ' ';
    pointer-events: none;
  }
}

.pipeline-type-group-toggle {
  width: variables.$toggle-size;
  height: variables.$toggle-size;
  padding: 0;
  color: var(--color-default-alt);
  font-size: inherit;
  font-family: inherit;
  line-height: 1em;
  text-align: center;
  background: none;
  border: none;
  border-radius: 50%;
  box-shadow: none;
  cursor: pointer;
  transition: transform ease 0.1s;

  &:focus {
    outline: none;

    [data-whatintent='keyboard'] & {
      box-shadow: 0 0 0 3px colors.$blue-300 inset;
    }
  }

  &::before {
    font-size: 1.8em;
    opacity: 0.55;
    content: '▾';
  }

  &:hover::before {
    opacity: 1;
  }

  &--alt {
    transform: rotate(90deg);
  }

  &--disabled {
    color: colors.$black-400;
    transform: rotate(90deg);
  }
}
