@use '../../../styles/variables' as colors;

.pipeline-nodelist__filter-panel {
  z-index: 1;
  background: var(--color-nodelist-filter-panel);
  border-top: 1px solid var(--color-border-line);

  .pipeline-nodelist-section:last-child {
    padding-bottom: 28px;
    padding-top: 4px;
  }
}

.pipeline-nodelist-section > ul.MuiTreeView-root {
  padding: 0 0 0 20px;
}

.pipeline-nodelist__elements-panel {
  .pipeline-nodelist-section:last-child {
    padding-bottom: 28px;
    padding-top: 12px;
  }
}

.pipeline-nodelist__split {
  // Required absolute for % sizing in Safari flexbox.
  position: absolute;
  inset: 58px 0 0;
  display: flex;
  flex-direction: column;

  &--resizing {
    cursor: row-resize;
  }
}

.pipeline-nodelist__split-handle {
  position: relative;
  flex-grow: 0;
  flex-shrink: 0;
  height: 16px;
  border-top: 1px solid transparent;
  cursor: row-resize;
  transition: border-color ease 0.1s 0.15s;

  // Add the handle grip.
  &::after {
    position: absolute;
    top: 7px;
    left: 50%;
    display: block;
    width: 50px;
    height: 2px;
    background: var(--color-nodelist-split-handle);
    border-radius: 2px;
    transform: translate(-50%, 0);
    opacity: 0;
    transition: opacity ease 0.1s 0.15s;
    content: ' ';
    pointer-events: none;
  }

  // Filter panel hovered, show handle.
  .pipeline-nodelist__filter-panel:hover &::after {
    opacity: 0.2;
  }

  // Handle has keyboard focus, show outline.
  &:focus {
    z-index: 1;
    outline: 3px solid colors.$blue-300;
  }

  // Handle is hovered, highlight border.
  &:hover {
    border-top: 1px solid var(--color-nodelist-split-handle-border);
  }

  // Handle is hovered, highlight grip (note: this requires increased specificity).
  .pipeline-nodelist__filter-panel:hover &:hover::after {
    opacity: 0.3;
  }

  // Handle is active resizing, highlight border.
  .pipeline-nodelist__split--resizing & {
    border-top: 1px solid colors.$blue-300;
  }
}

.pipeline-nodelist-scrollbars {
  flex-grow: 1;

  &::after {
    content: '';
    height: 22px;
    left: -1px;
    pointer-events: none;
    position: absolute;
    right: -1px;
    top: 0;
  }

  .pipeline-nodelist__filter-panel &::after {
    display: none;
  }
}
