@use '../../../styles/variables' as colors;
@use './variables';

.pipeline-nodelist__elements-panel .MuiTreeItem-label {
  // Handle MuiTreeItem icon offset for correct width
  $icon-offset: 15px + 4px;

  width: calc(100% - #{$icon-offset});
}

.pipeline-nodelist__row__text {
  display: flex;
  align-items: center;

  // Fixed with required for overflow elipsis
  width: calc(100% - 7em);
  margin-right: auto;
  padding: variables.$row-padding-y 0 variables.$row-padding-y 0;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  line-height: 1.6;
  letter-spacing: inherit;
  text-align: inherit;
  background: none;
  border: none;
  border-radius: 0;
  box-shadow: none;
  cursor: default;
  user-select: none;

  &--tree {
    padding: variables.$row-padding-y 0 variables.$row-padding-y 1em;
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 0 4px colors.$blue-300 inset;

    [data-whatintent='mouse'] & {
      box-shadow: none;
    }
  }
}

.pipeline-nodelist__row__label {
  overflow: hidden;
  font-size: 1.4em;
  white-space: nowrap;
  text-overflow: ellipsis;

  &--faded {
    opacity: 0.65;
  }

  &--disabled {
    opacity: 0.3 !important;
  }

  b {
    color: var(--color-nodelist-highlight);
    font-weight: normal;
  }
}

.pipeline-nodelist__row__count {
  display: inline-block;
  flex-shrink: 0;
  width: 2.2em;
  margin: 0 0.7em 0.1em auto;
  overflow: hidden;
  font-size: 1.16em;
  text-align: right;
  text-overflow: ellipsis;
  opacity: 0.75;
  user-select: none;

  .pipeline-nodelist__row--unchecked & {
    opacity: 0.55;
  }
}

.pipeline-nodelist__row--unchecked {
  // Fade row text when unchecked
  .pipeline-nodelist__row__label--kind-filter {
    opacity: 0.55;
  }

  // Brighter row text when unchecked and hovered
  &:hover {
    .pipeline-nodelist__row__label--kind-filter {
      opacity: 0.8;
    }
  }

  // Bright row text when all unchecked
  .pipeline-nodelist__group--all-unchecked & {
    .pipeline-nodelist__row__label--kind-filter {
      opacity: 1;
    }
  }
}
