@use '../../../styles/variables' as colors;
@use './variables';

.pipeline-nodelist__row {
  position: relative;
  display: flex;
  align-items: center;

  // Fixed row height required for lazy list, apply any changes to node-list-row.js.
  height: 32px;

  // Force gpu layers to avoid drawing lag on scroll.
  transform: translate(0, 0);
  cursor: default;

  // overwrite material-ui selected row background color settings
  &--overwrite {
    .Mui-selected & {
      .kui-theme--dark & {
        background-color: #{colors.$slate-200};
      }

      .kui-theme--light & {
        background-color: #{colors.$white-0};
      }
    }
  }

  // overwrite with highlighted background for row on hover
  &--overwrite:hover {
    .Mui-selected & {
      background-color: var(--color-nodelist-row-active);
    }
  }

  &--kind-filter {
    padding: 0 variables.$row-offset-right 0 variables.$row-offset-left;
  }

  &--active,
  &--visible:hover {
    background-color: var(--color-nodelist-row-active);
  }

  &--selected,
  // Additional selector required to increase specificity to override previous rule:
  &--visible#{&}--selected {
    background-color: var(--color-nodelist-row-selected);
  }

  &--disabled {
    pointer-events: none;
  }
}

.pipeline-nodelist__row__icon {
  display: block;
  flex-shrink: 0;
  width: variables.$row-icon-size;
  height: variables.$row-icon-size;
  fill: var(--color-text);

  &.pipeline-row__toggle-icon--focus-checked {
    fill: colors.$blue-300;
  }

  &--disabled > * {
    opacity: 0.1;
  }
}

.pipeline-nodelist__row__type-icon {
  &--nested > * {
    opacity: 0.3;
  }

  &--faded > * {
    opacity: 0.2;
  }

  &--active,
  &--selected,
  .pipeline-nodelist__row--visible:hover &,
  [data-whatintent='keyboard'] .pipeline-nodelist__row__text:focus & {
    > * {
      opacity: 1;
    }

    &--faded > * {
      opacity: 0.55;
    }
  }
}
