@use './variables';

.pipeline-nodelist-section__title {
  display: block;
  margin: 6px variables.$section-title-padding-x 12px
    (variables.$section-title-padding-x + 0.085);
  font-weight: normal;
  font-size: 1.6em;
  opacity: 0.55;
  user-select: none;
}
