@use '../../../styles/variables' as colors;

// -- Layout --//

$row-padding-y: 0.6em;
$row-padding-x: 2.2em;
$row-label-padding-x: $row-padding-x * 0.8;
$row-icon-margin: 0.8em;
$row-icon-size: 2.2em;
$toggle-margin-left: $row-padding-x;
$toggle-icon-padding: 0.3em;
$toggle-icon-size: 2.1em + $toggle-icon-padding * 2;
$toggle-size: 2.2em + $toggle-icon-padding * 2;
$section-title-padding-x: $row-padding-x * 0.7;
$row-offset-left: 2.6em;
$row-offset-right: 1.6em;

// -- Colours --//

// Light:
$row-active-light: colors.$white-0;
$row-selected-light: colors.$white-0;
$filter-indicator-on-light: colors.$blue-300;
$filter-indicator-off-light: colors.$black-700;

// Dark:
$row-active-dark: colors.$slate-200;
$row-selected-dark: colors.$slate-200;
$filter-indicator-on-dark: colors.$blue-300;
$filter-indicator-off-dark: colors.$grey-600;
