@use '../../../styles/mixins' as mixins;
@use '../../../styles/variables' as colors;
@use './group';
@use './panels';
@use './row';
@use './row-label';
@use './row-toggle';
@use './section';
@use './variables';

.kui-theme--light {
  --color-nodelist-row-active: #{variables.$row-active-light};
  --color-nodelist-row-selected: #{variables.$row-selected-light};
  --color-nodelist-filter-indicator-on: #{variables.$filter-indicator-on-light};
  --color-nodelist-filter-indicator-off: #{variables.$filter-indicator-off-light};
  --color-nodelist-highlight: #{colors.$blue-300};
  --color-nodelist-split-handle: #{colors.$black-700};
  --color-nodelist-split-handle-border: #{colors.$grey-100};
  --color-nodelist-filter-panel: #{colors.$white-200};
  --color-nodelist-element-panel: #{colors.$white-200};
}

.kui-theme--dark {
  --color-nodelist-row-active: #{variables.$row-active-dark};
  --color-nodelist-row-selected: #{variables.$row-selected-dark};
  --color-nodelist-filter-indicator-on: #{variables.$filter-indicator-on-dark};
  --color-nodelist-filter-indicator-off: #{variables.$filter-indicator-off-dark};
  --color-nodelist-highlight: #{colors.$blue-300};
  --color-nodelist-split-handle: #{colors.$white-0};
  --color-nodelist-split-handle-border: #{colors.$grey-900};
  --color-nodelist-filter-panel: #{colors.$slate-300};
  --color-nodelist-element-panel: #{colors.$slate-700};
}

@include mixins.transparentColour(
  '--color-nodelist-bg-transparent',
  colors.$white-200,
  colors.$slate-700
);
@include mixins.transparentColour(
  '--color-nodelist-bg-filter-transparent',
  colors.$white-0,
  colors.$slate-500
);

.pipeline-nodelist {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding-top: 1.8em;

  &::before,
  > * {
    // Transition opacity instead of background-color for GPU acceleration
    transition: opacity ease 0.2s;
  }

  &::before {
    position: absolute;
    inset: 0;
    background: var(--color-bg-2);
    opacity: 0;
    content: '';
  }

  &--fade {
    > * {
      opacity: 0.2;
    }

    &::before {
      opacity: 1;
    }
  }
}

// material-ui applies a padding on the left by default -
// this is to eliminate the unneccessary padding
.MuiTreeItem-label {
  .kui-theme--dark &,
  .kui-theme--light & {
    padding-left: 0 !important;
  }
}

.pipeline-treeItem__root--overwrite {
  .Mui-selected {
    background-color: transparent !important;
  }

  .MuiTreeItem-content {
    padding: 0;

    &:hover {
      background-color: var(--color-nodelist-row-active);
    }
  }
}
