.pipeline-minimap-node {
  rect {
    fill: var(--minimap-node-fill-default);
  }
}

.pipeline-minimap-node--active {
  rect {
    fill: var(--minimap-node-fill-active);
  }
}

.pipeline-minimap-node--selected {
  rect {
    fill: var(--minimap-node-fill-selected);
  }
}

.pipeline-minimap-node--faded {
  rect {
    fill: var(--minimap-node-fill-faded);
  }
}
