@use '../../../styles/variables' as colors;

/**
 * List of colour variables for the different parts of the minimap
 */

.kui-theme--light {
  --minimap-bg: #{colors.$white-200};
  --minimap-shadow: #{colors.$white-400};
  --minimap-viewport-stroke: #{colors.$white-600};
  --minimap-node-fill-default: #{colors.$grey-200};
  --minimap-node-fill-active: #{colors.$white-0};
  --minimap-node-fill-selected: #{colors.$blue-0};
  --minimap-node-fill-faded: #{colors.$white-900};
}

.kui-theme--dark {
  --minimap-bg: #{colors.$slate-800};
  --minimap-shadow: #{colors.$slate-100};
  --minimap-viewport-stroke: #{colors.$black-0};
  --minimap-node-fill-default: #{colors.$slate-0};
  --minimap-node-fill-active: #{colors.$slate-0};
  --minimap-node-fill-selected: #{colors.$blue-300};
  --minimap-node-fill-faded: #{colors.$slate-700};
}
