@use './variables';
@use './node';

.pipeline-minimap__graph {
  display: block;
}

.pipeline-minimap-container {
  $offsetBottom: 2px; /* Sub-pixel adjustment */

  position: absolute;
  top: calc(100% + #{$offsetBottom});
  left: 100%;
  width: 500px;
  height: 222px;
  background: var(--minimap-bg);
  box-shadow: 0 0 2px var(--minimap-shadow);
  transform: translate(-100%, -100%);
  transition: transform 300ms ease;
}

.pipeline-minimap {
  position: absolute;
  top: 0;
  right: 0;
}

.pipeline-minimap__viewport {
  cursor: move;
  fill: transparent; /* Solid for pointer events */
  stroke-width: 1px;
  stroke: var(--minimap-viewport-stroke);
}
