jobs:
- job: win_64
  pool:
    vmImage: vs2017-win2016
  strategy:
    maxParallel: 4
    timeoutInMinutes: 240
  steps:
    # TODO: Fast finish on azure pipelines?
    - script: |
        echo "Fast Finish"

    - script: |
        choco install vcpython27 -fdv -y --debug
      displayName: Install vcpython27.msi (if needed)

    - powershell: |
        Set-PSDebug -Trace 1

        $batchcontent = @"
        ECHO ON
        SET vcpython=C:\Program Files (x86)\Common Files\Microsoft\Visual C++ for Python\9.0

        DIR "%vcpython%"

        CALL "%vcpython%\vcvarsall.bat" %*
        "@

        $batchDir = "C:\Program Files (x86)\Common Files\Microsoft\Visual C++ for Python\9.0\VC"
        $batchPath = "$batchDir" + "\vcvarsall.bat"
        New-Item -Path $batchPath -ItemType "file" -Force

        Set-Content -Value $batchcontent -Path $batchPath

        Get-ChildItem -Path $batchDir

        Get-ChildItem -Path ($batchDir + '\..')

      displayName: Patch vs2008 (if needed)

    - task: CondaEnvironment@1
      inputs:
        packageSpecs: 'python=3.6 conda-build conda conda-forge::conda-forge-ci-setup=2' # Optional
        installOptions: "-c conda-forge"
        updateConda: false
      displayName: Install conda-build and activate environment

    - script: set PYTHONUNBUFFERED=1

    # Add our channels.
    - script: conda.exe config --set show_channel_urls true
      displayName: configure conda channels
    - script: conda.exe config --remove channels defaults
      displayName: configure conda channels
    - script: conda.exe config --add channels defaults
      displayName: configure conda channels
    
    - script: conda.exe config --add channels conda-forge
      displayName: configure conda channels
    

    # Configure the VM.
    - script: call run_conda_forge_build_setup
      displayName: conda-forge build setup

    # Special cased version setting some more things!
    - script: |
        conda.exe build recipe -m .ci_support\%CONFIG%.yaml --quiet
      displayName: Build recipe (vs2008)
      env: {
        VS90COMNTOOLS: "C:\\Program Files (x86)\\Common Files\\Microsoft\\Visual C++ for Python\\9.0\\VC\\bin",
      }

    