jobs:
- job: win_64
  condition: not(eq(variables['Build.SourceBranch'], 'refs/heads/main'))
  pool:
    vmImage: vs2017-win2016
  strategy:
    maxParallel: 4
    matrix:
      win:
        CONFIG: win64
        CF_MAX_PY_VER: 37
  timeoutInMinutes: 360
  steps:
    - task: CondaEnvironment@1
      inputs:
        packageSpecs: 'python=3.9 conda-build>=3.18 conda>4.7.12 conda-forge::conda-forge-ci-setup=3 networkx=2.4 conda-forge-pinning boa' # Optional
        installOptions: "-c conda-forge"
        updateConda: true
      displayName: Install conda-build and activate environment

    - script: set PYTHONUNBUFFERED=1
      displayName: Set PYTHONUNBUFFERED

    # Configure the VM
    - script: |
        call activate base
        setup_conda_rc .\ ".\recipes" .\.ci_support\%CONFIG%.yaml
      displayName: conda-forge CI setup

    # Configure the VM.
    - script: |
        set "CI=azure"
        call activate base
        run_conda_forge_build_setup
      displayName: conda-forge build setup

    # Find the recipes from main in this PR and remove them.
    - script: |
        git fetch --force origin main:main
        cd recipes
        for /f "tokens=*" %%a in ('git ls-tree --name-only main -- .') do rmdir /s /q %%a && echo Removing recipe: %%a
        cd ..

    - script: |
        REM make sure there is a package directory so that artifact publishing works
        setlocal enableextensions
        if not exist C:\\bld\\win-64\\ mkdir C:\\bld\\win-64\\
      displayName: Make artifact dir

    # Special cased version setting some more things!
    - script: |
        call activate base
        git fetch --force origin main:main
        python .ci_support\build_all.py --arch 64

      displayName: Build recipe

    - publish: C:\\bld\\win-64\\
      artifact: conda_pkgs_win
