jobs:
- job: linux_64
  pool:
    vmImage: ubuntu-16.04
  strategy:
    maxParallel: 8
    matrix:
      linux:
        CONFIG: linux64
        IMAGE_NAME: condaforge/linux-anvil-comp7
        CF_MAX_PY_VER: 37
        AZURE: True
  timeoutInMinutes: 360
  steps:
  - script: |
      # sudo pip install --upgrade pip
      sudo pip install setuptools shyaml
    displayName: Install dependencies

  - script: |
      set -e

      # make sure there is a package directory so that artifact publishing works
      mkdir -p build_artifacts/linux-64/

      export CI=azure
      .circleci/run_docker_build.sh

    displayName: Run docker build
  - publish: build_artifacts/linux-64/
    artifact: conda_pkgs_linux
