jobs:
- job: linux_64
  pool:
    vmImage: ubuntu-16.04
  strategy:
    maxParallel: 8
    matrix:
      linux:
        CONFIG: azure-linux-64-comp7
        IMAGE_NAME: condaforge/linux-anvil-cuda:10.1
        CF_MAX_PY_VER: 37
        AZURE: True
  timeoutInMinutes: 360
  steps:
  - script: |
      sudo apt-get -y install util-linux
      sudo pip install --upgrade pip
      sudo pip install setuptools shyaml
    displayName: Install dependencies

  - script: |
      export CI=azure
      .circleci/run_docker_build.sh
    displayName: Run docker build
