jobs:
- job: win_64
  pool:
    vmImage: vs2017-win2016
  strategy:
    maxParallel: 4
    matrix:
      win:
        CONFIG: win64
        CF_MAX_PY_VER: 37
  timeoutInMinutes: 360
  steps:
    # TODO: Fast finish on azure pipelines?
    - script: |
        echo "Fast Finish"

    - script: |
        choco install vcpython27 -fdv -y --debug
      displayName: Install vcpython27.msi (if needed)

    - powershell: |
        Set-PSDebug -Trace 1

        $batchcontent = @"
        ECHO ON
        SET vcpython=C:\Program Files (x86)\Common Files\Microsoft\Visual C++ for Python\9.0

        DIR "%vcpython%"

        CALL "%vcpython%\vcvarsall.bat" %*
        "@

        $batchDir = "C:\Program Files (x86)\Common Files\Microsoft\Visual C++ for Python\9.0\VC"
        $batchPath = "$batchDir" + "\vcvarsall.bat"
        New-Item -Path $batchPath -ItemType "file" -Force

        Set-Content -Value $batchcontent -Path $batchPath

        Get-ChildItem -Path $batchDir

        Get-ChildItem -Path ($batchDir + '\..')

      displayName: Patch vs2008 (if needed)

    - task: CondaEnvironment@1
      inputs:
        packageSpecs: 'python=3.6 conda-build>=3.18 conda>4.7.12 conda-forge::conda-forge-ci-setup=2 networkx=2.3 conda-forge-pinning' # Optional
        installOptions: "-c conda-forge"
        updateConda: true
      displayName: Install conda-build and activate environment

    - script: set PYTHONUNBUFFERED=1

    # Add our channels.
    - script: conda.exe config --set show_channel_urls true
      displayName: configure conda channels
    - script: conda.exe config --remove channels defaults
      displayName: configure conda channels
    - script: conda.exe config --add channels defaults
      displayName: configure conda channels

    - script: conda.exe config --add channels conda-forge
      displayName: configure conda channels

    # Configure the VM
    - script: setup_conda_rc .\ .\recipes .\.ci_support\%CONFIG%.yaml

    # Configure the VM.
    - script: call run_conda_forge_build_setup
      displayName: conda-forge build setup

    # Find the recipes from master in this PR and remove them.
    - script: |
        git fetch --force origin master:master
        cd recipes
        for /f "tokens=*" %%a in ('git ls-tree --name-only master -- .') do rmdir /s /q %%a && echo Removing recipe: %%a
        cd ..

    - script: |
        REM make sure there is a package directory so that artifact publishing works
        setlocal enableextensions
        if not exist C:\\Miniconda\\conda-bld\\win-64\\ mkdir C:\\Miniconda\\conda-bld\\win-64\\
      displayName: Make artifact dir    

    # Special cased version setting some more things!
    - script: |
        git fetch --force origin master:master
        python .ci_support\build_all.py recipes --arch 64

      displayName: Build recipe (maybe vs2008)
      env: {
        VS90COMNTOOLS: "C:\\Program Files (x86)\\Common Files\\Microsoft\\Visual C++ for Python\\9.0\\VC\\bin",
      }
    - publish: C:\\Miniconda\\conda-bld\\win-64\\
      artifact: conda_pkgs_win
