blas_impl:
  # mkl-devel packages are available, and conda-forge could enable them if they'd like
  # - mkl                        # [x86 or x86_64]
  - openblas
arpack:
  - 3.5
boost:
  - 1.65
bzip2:
  - 1.0
cairo:
  - 1.14
# This differs from target_platform in that it determines what subdir the compiler
#    will target, not what subdir the compiler package will be itself.
#    For example, we need a win-64 vs2008_win-32 package, so that we compile win-32
#    code on win-64 miniconda.
cross_compiler_target_platform:  # [win]
  - win-32                     # [win]
  - win-64                     # [win]
curl:
  - 7.54
c_compiler:                    # [win]
  - vs2008                     # [win]
  - vs2015                     # [win]
  - vs2015                     # [win]
cxx_compiler:                  # [win]
  - vs2008                     # [win]
  - vs2015                     # [win]
  - vs2015                     # [win]
CONDA_BUILD_SYSROOT:           # [osx]
  - /opt/MacOSX10.9.sdk        # [osx]
VERBOSE_AT:
  - V=1
VERBOSE_CM:
  - VERBOSE=1
dbus:
  - 1
expat:
  - 2.2                # [not ppc64le]
ffmpeg:
  - 3.2.3
flann:
  - 1.9.1
fontconfig:
  - 2.12
freetype:
  - 2.8                # [not ppc64le]
gstreamer:
  - 1.12
gst_plugins_base:
  - 1.12
geos:
  - 3.6.2
giflib:
  - 5.1
glib:
  - 2.53
glpk:
  - 4.62
gmp:
  - 6.1
harfbuzz:
  - 1.7
hdf4:
  - 4.2
hdf5:
  - 1.10               # [not ppc64le]
icu:
  - 58                 # [not ppc64le]
ipython:
  - 5.4                # [not ppc64le]
  - 5.3                    # [ppc64le]
  - 6.1
  - 6.1
jpeg:
  - 9
json_c:
  - 0.12
krb5:
  - 1.14
libblitz:
  - 0.10
libdap4:
  - 3.19
libevent:
  - 2.0.22
libffi:
  - 3.2
libgdal:
  - 2.2
libiconv:
  - 1.15
libkml:
  - 1.3
libmatio:
  - 1.5
libnetcdf:
  - 4.4
libpng:
  - 1.6
librdkafka:
  - 0.9.5
libssh2:
  - 1.8
libsvm:
  - 3.21
libtiff:
  - 4.0
libwebp:
  - 0.5
libxml2:
  - 2.9
lzo:
  - 2
macos_min_version:
  - 10.9
macos_machine:
  - x86_64-apple-darwin13.4.0
MACOSX_DEPLOYMENT_TARGET:
  - 10.9
metis:
  - 5.1
mkl:
  - 2018
mpfr:
  - 3
ncurses:
  - 5.9
netcdf_cxx4:
  - 4.3
netcdf_fortran:
  - 4.4
nettle:
  - 3.3
# we build for an old version of numpy for forward compatibility
#    1.11 seems to be the oldest on win that works with scipy 0.19.  Compiler errors otherwise.
numpy:
  - 1.9   # [unix]
  - 1.11   # [win]
openblas:
  - 0.2.20
openjpeg:
  - 2.3
openssl:
  - 1.0.2
pango:
  - 1.40
perl:
  - 5.26
pixman:
  - 0.34
poppler:
  - 0.61
proj4:
  - 4
protobuf:
  - 3.4
python:
  - 2.7
  - 3.5
  - 3.6
pyqt:
  - 5.6
qt:
  - 5.6
readline:
  - 7
scipy:
  - 0.19
snappy:
  - 1
sox:
  - 14.4
sqlite:
  - 3
sundials:
  - 2.7
target_platform:
  - win-64                     # [win]
  - win-32                     # [win]
tk:
  - 8.6                # [not ppc64le]
vc:
  - 9
  - 14
  - 14
vlfeat:
  - 0.9
xerces_c:
  - 3
xz:
  - 5
zeromq:
  - 4.2
zlib:
  - 1.2
pin_run_as_build:
  libboost:
    max_pin: x.x
zip_keys:
  -
    - pyqt
    - qt
  -
    - python
    - ipython
    - vc                        # [win]
    - c_compiler                # [win]
    - cxx_compiler              # [win]
    - fortran_compiler_version  # [win]
