mesa-libGL-devel
mesa-libGLU-devel
mesa-libEGL-devel
libX11-devel
libXt-devel
libXtst-devel
libXrender-devel
libXext-devel
libXdmcp-devel
libXcomposite-devel
libXcursor-devel
libxcb-devel
libXau-devel
libXi-devel
libXScrnSaver-devel
libXrandr-devel
alsa-lib-devel
xcb-util-devel
xorg-x11-server-Xvfb
pciutils-devel
