name: directory_linter

on:
  pull_request_target:
    paths:
      - 'recipes/*.yml'
      - 'recipes/*.yaml'

jobs:
  comment:
    name: Notify user about wrong dir
    runs-on: "ubuntu-latest"
    steps:
      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v2

      - name: Comment on PR
        uses: actions/github-script@60a0d83039c74a4aee543508d2ffcb1c3799cdea # v6
        with:
          script: |
            github.rest.issues.createComment({
              issue_number: context.issue.number,
              owner: context.repo.owner,
              repo: context.repo.repo,
              body: 'Hi! Thanks for your contribution to conda-forge.' +
                    '\nUnfortunately, the recipe was added directly in the `recipes` folder without its own subfolder.\n' +
                    'Please move the recipe file into a folder with the name of the package you want to submit.\n\n' +
                    'For example: if your recipe is currently under `recipes/<your_package>.yaml`, ' +
                    'it should be moved to `recipes/<your_package>/meta.yaml`.\n' +
                    'Thanks!'
            })
