name: do_not_edit_example

on:
  pull_request_target:
    paths:
      - 'recipes/example/meta.yaml'

jobs:
  comment:
    name: Notify user about not editing example recipe
    runs-on: "ubuntu-latest"
    steps:
      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v2

      - name: Comment on PR
        uses: actions/github-script@60a0d83039c74a4aee543508d2ffcb1c3799cdea # v6
        with:
          script: |
            github.rest.issues.createComment({
              issue_number: context.issue.number,
              owner: context.repo.owner,
              repo: context.repo.repo,
              body: 'Hi! Thanks for your contribution to conda-forge.' +
                    '\nWhen submitting a pull request, please do not change anything in the example recipe.\n' +
                    'Please make sure that any changes are reverted before you submit it for review.\n' +
                    'Thanks!'
            })
